<!-- begin about-company -->
<section class="about-company">
	<div class="uk-container">
		<div class="about-company__inner">
			<div class="underline-title">Кто мы</div>
			<div class="lead-text">
				1С:Франчайзи Виктория — один из лидеров на российском рынке программного обеспечения.
				<span class="fill-yellow">Более 11 лет</span>
				мы предоставляем полный спектр услуг по
				<span class="fill-yellow">автоматизации управления и учета на платформе 1С.</span>
				В составе компании успешно работают региональные представительства в Самаре и Санкт-Петербурге. Мы четко понимаем потребности заказчика и предлагаем эффективное и оперативное решение задач. Именно поэтому в нашем активе
				<span class="fill-yellow">более 2600 довольных клиентов.</span>
			</div>

			<ul class="list-top-underline uk-child-width-1-3@m" uk-grid>
				<li class="list-top-underline__item-col">
					<div class="list-top-underline__item">
						Более 17 лет успешной работы
						<br>
						в Москве, Санкт-Петербурге, Самаре и
						<br>
						других городах России
					</div>
				</li>

				<li class="list-top-underline__item-col">
					<div class="list-top-underline__item">
						Стандарт менеджмента качества ISO 9001,
						<br>
						подтверждает качество оказания услуг
					</div>
				</li>

				<li class="list-top-underline__item-col">
					<div class="list-top-underline__item">
						Наш статус, подтверждает высокий уровень качества
						<br>
						сопровождения 1С 	и предоставления сервисов 1С:ИТС
					</div>
				</li>
			</ul>

		</div>
	</div>
</section>
<!-- end about-company -->
