{% extends "../components/content-group.twig" %}
{% set title = "Направления деятельности" %}

{% block content %}
	<!-- begin activity-company -->
	<div class="activity-company">
		<div class="activity-list">
			<div class="uk-grid">
				<div class="uk-width-expand@m">
					<div class="activity-list__item bg-dark-blue">
						<div class="activity-list__title">
							<a href="">Управление
								<br>
								производством, MES</a>
						</div>
						<div class="activity-list__img">
							<img src="img/media/gears.svg" alt="" loading="lazy">
						</div>
						<div class="activity-list__subtitle">Планирование производства и управление крупными
							<br>
							производственными предприятиями</div>
					</div>
				</div>
				<div class="uk-width-1-4@m">
					<div class="activity-list__item bg-blue">
						<div class="activity-list__title">
							<a href="">Управление складом,
								<br>
								складская логистика</a>
						</div>
						<div class="activity-list__img">
							<img src="img/media/ligostic.svg" alt="" loading="lazy">
						</div>
						<div class="activity-list__subtitle">Автоматизация работы склада</div>
					</div>
				</div>
				<div class="uk-width-1-4@m">
					<div class="activity-list__item bg-green">
						<div class="activity-list__title">
							<a href="">Казначейство</a>
						</div>
						<div class="activity-list__img">
							<img src="img/media/budget.svg" alt="" loading="lazy">
						</div>
						<div class="activity-list__subtitle">Автоматизация распределения
							<br>
							денежных средств</div>
					</div>
				</div>
			</div>

			<div class="uk-grid">
				<div class="uk-width-1-4@m">
					<div class="activity-list__item bg-dark-blue">
						<div class="activity-list__title">
							<a href="">Управление закупками,<br>
								конкурентные закупки</a>
						</div>
						<div class="activity-list__img">
							<img src="img/media/store.svg" alt="" loading="lazy">
						</div>
						<div class="activity-list__subtitle">Формирование потребностей в
							<br>
							материалах и планирование закупок к
							<br>
							указанному сроку</div>
					</div>
				</div>
				<div class="uk-width-1-4@m">
					<div class="activity-list__item bg-green">
						<div class="activity-list__title">
							<a href="">Управление затратами
								<br>
								и расчет себестоимости</a>
						</div>
						<div class="activity-list__img">
							<img src="img/media/calc.svg" alt="" loading="lazy">
						</div>
						<div class="activity-list__subtitle">Оптимизация процесса учета затрат</div>
					</div>
				</div>
				<div class="uk-width-expand@m">
					<div class="activity-list__item bg-dark-blue">
						<div class="activity-list__title">
							<a href="">Аренда 1С</a>
						</div>
						<div class="activity-list__img">
							<img src="img/media/1c.svg" alt="" loading="lazy">
						</div>
						<div class="activity-list__subtitle">Пользуйтесь 1С где угодно и когда угодно</div>
					</div>
				</div>
			</div>
		</div>

	</div>
	<!-- end activity-company -->
{% endblock %}
