{% extends "../components/content-group.twig" %}
{% set title = "Наши клиенты" %}
{% set brandsImg = [
  'infogorod.png',
  'hse.svg',
  'forabank.png',
  'herbalife.svg',
  'burokrat.svg',
  'burokrat.svg',
] %}

{% block content %}
	<div class="clients-slider">
		<div class="slider">
			{% for index, slide in brandsImg %}
				{% if index % 2 %}
					<div class="slide">
						<div class="slide__col">
							<div class="slide__top">
								Автоматизация склада на базе 1С УС
							</div>
							<div class="slide__bottom">
								<img src="img/media/sliders/{{slide}}" alt="">
							</div>
						</div>
					</div>
				{% else %}
					<div class="slide">
						<div class="slide__col">
							<div class="slide__top">
								<img src="img/media/sliders/{{slide}}" alt="">
							</div>
							<div class="slide__bottom">
								Автоматизация склада на базе 1С УС
							</div>
						</div>
					</div>
				{% endif %}

			{% endfor %}

		</div>
	</div>
{% endblock %}
