{% extends "../components/content-group.twig" %}
{% set title = "Наши продукты" %}

{% block content %}
	<!-- begin products-slider -->
	<div class="products-slider">
		<div class="slider">
			<div class="slide">
				<div class="product-small-card">
					<div class="product-small-card__title">
						<a href="">Лицензии 1С:Предприятие 8</a>
					</div>
					<div class="product-small-card__time product-small-card__time--bg-yellow">5 бесплатных часов</div>
					<div class="product-small-card__price">
						<div class="product-small-card__old-price">32 900 р.</div>
						<div class="product-small-card__current-price">22 690 р.</div>
					</div>
					<div class="product-small-card__buttons">
						<a href="" class="btn">Купить</a>
						<a href="" class="btn btn--gray">Демонстрация</a>
					</div>
				</div>
				<div class="product-small-card">
					<div class="product-small-card__title">
						<a href="">1С:Управление Торговлей 8</a>
					</div>
					<div class="product-small-card__time product-small-card__time--bg-gray">Нет бесплатных часов</div>
					<div class="product-small-card__price">
						<div class="product-small-card__old-price"></div>
						<div class="product-small-card__current-price">14 280 р.</div>
					</div>
					<div class="product-small-card__buttons">
						<a href="" class="btn">Купить</a>
						<a href="" class="btn btn--gray">Демонстрация</a>
					</div>
				</div>
			</div>
			<div class="slide">
				<div class="product-small-card">
					<div class="product-small-card__title">
						<a href="">1С:Бухгалтерия 8</a>
					</div>
					<div class="product-small-card__time product-small-card__time--bg-yellow">7 бесплатных часов</div>
					<div class="product-small-card__price">
						<div class="product-small-card__old-price"></div>
						<div class="product-small-card__current-price">12 780 р.</div>
					</div>
					<div class="product-small-card__buttons">
						<a href="" class="btn">Купить</a>
						<a href="" class="btn btn--gray">Демонстрация</a>
					</div>
				</div>
				<div class="product-small-card">
					<div class="product-small-card__title">
						<a href="">1С Комплексная Автоматизация 8</a>
					</div>
					<div class="product-small-card__time product-small-card__time--bg-yellow">8 бесплатных часов</div>
					<div class="product-small-card__price">
						<div class="product-small-card__old-price"></div>
						<div class="product-small-card__current-price">44 710р.</div>
					</div>
					<div class="product-small-card__buttons">
						<a href="" class="btn">Купить</a>
						<a href="" class="btn btn--gray">Демонстрация</a>
					</div>
				</div>
			</div>
			<div class="slide">
				<div class="product-small-card">
					<div class="product-small-card__title">
						<a href="">1С:Зарплата и Управление Персоналом 8</a>
					</div>
					<div class="product-small-card__time product-small-card__time--bg-yellow">2 бесплатных часа</div>
					<div class="product-small-card__price">
						<div class="product-small-card__old-price">14 900 р.</div>
						<div class="product-small-card__current-price">7 890 р.</div>
					</div>
					<div class="product-small-card__buttons">
						<a href="" class="btn">Купить</a>
						<a href="" class="btn btn--gray">Демонстрация</a>
					</div>
				</div>
				<div class="product-small-card">
					<div class="product-small-card__title">
						<a href="">1С:Управление нашей фирмой 8</a>
					</div>
					<div class="product-small-card__time product-small-card__time--bg-gray">Нет бесплатных часов</div>
					<div class="product-small-card__price">
						<div class="product-small-card__old-price"></div>
						<div class="product-small-card__current-price">17 090 р.</div>
					</div>
					<div class="product-small-card__buttons">
						<a href="" class="btn">Купить</a>
						<a href="" class="btn btn--gray">Демонстрация</a>
					</div>
				</div>
			</div>
			<div class="slide">
				<div class="product-small-card">
					<div class="product-small-card__title">
						<a href="">1С:Зарплата и Управление Персоналом 8</a>
					</div>
					<div class="product-small-card__time product-small-card__time--bg-yellow">2 бесплатных часа</div>
					<div class="product-small-card__price">
						<div class="product-small-card__old-price">14 900 р.</div>
						<div class="product-small-card__current-price">7 890 р.</div>
					</div>
					<div class="product-small-card__buttons">
						<a href="" class="btn">Купить</a>
						<a href="" class="btn btn--gray">Демонстрация</a>
					</div>
				</div>
				<div class="product-small-card">
					<div class="product-small-card__title">
						<a href="">1С:Управление нашей фирмой 8</a>
					</div>
					<div class="product-small-card__time product-small-card__time--bg-gray">Нет бесплатных часов</div>
					<div class="product-small-card__price">
						<div class="product-small-card__old-price"></div>
						<div class="product-small-card__current-price">17 090 р.</div>
					</div>
					<div class="product-small-card__buttons">
						<a href="" class="btn">Купить</a>
						<a href="" class="btn btn--gray">Демонстрация</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end products-slider -->
{% endblock %}
