{% extends "../components/content-group.twig" %}
{% set title = "Наши проекты" %}
{% set subtitle = "Все проекты" %}
{% set modifyClass = " bgGray" %}

{% block content %}
	<!-- begin main-projects-slider -->
	<div class="main-projects-slider">
		<div class="slider">
			<div class="slide">
				<article class="project-card project-card--main">
					<header class="project-card__header">
						<a href="" class="project-card__title">ФБ Инноваций и развития</a>
						<picture class="project-card__img">
							<source srcset="img/media/webp/project-1.webp" type="image/webp">
							<source srcset="img/media/project-1.jpg" type="image/jpg">
							<img src="img/media/project-1.jpg" alt="" loading="lazy">
						</picture>
						<div class="project-card__fill-subtitle">
							<span>1С: Комплексная Автоматизация 8</span>
						</div>

					</header>
					<section class="project-card__body">

						<div class="project-card__timework">
							Длительность работ:
							<span>6 месяцев</span>
						</div>
						<div class="project-card__desc">
							Акционерный Коммерческий Федеральный Банк Инноваций и Развития оказывает полный комплекс банковских услуг, отвечающих требованиям современного уровня банковского сервиса.
						</div>
						<a href="" class="read-more">Подробнее</a>
					</section>
				</article>
			</div>

			<div class="slide">
				<article class="project-card">
					<header class="project-card__header">
						<a href="" class="project-card__title">ООО КПФ «МИЛОРАДА»</a>
						<picture class="project-card__img">
							<source srcset="img/media/webp/project-2.webp" type="image/webp">
							<source srcset="img/media/project-2.jpg" type="image/jpg">
							<img src="img/media/project-2.jpg" alt="" loading="lazy">
						</picture>
						<div class="project-card__fill-subtitle">
							<span>Автоматизированная система 1С:</span>
							<br>
							<span>Предприятия на базе решений</span><br>
							<span>«1С:Предприятие 8. ERP</span>
							<br>
							<span>Управление предприятием»</span>
						</div>

					</header>
					<section class="project-card__body">

						<div class="project-card__timework">
							Длительность работ:
							<span>10 месяцев</span>
						</div>
						<div class="project-card__desc">
							Основной целью внедрения является перенос всех участков ведения учета на программный продукт «1С:ERP Управление предприятием»
						</div>
						<a href="" class="read-more">Подробнее</a>
					</section>
				</article>
			</div>

			<div class="slide">
				<article class="project-card">
					<header class="project-card__header">
						<a href="" class="project-card__title">СРО НП «Агропроект»</a>
						<picture class="project-card__img">
							<source srcset="img/media/webp/project-3.webp" type="image/webp">
							<source srcset="img/media/project-3.jpg" type="image/jpg">
							<img src="img/media/project-3.jpg" alt="" loading="lazy">
						</picture>
						<div class="project-card__fill-subtitle">
							<span>1С для ЖКХ, ТСЖ и ЖСК</span>
						</div>

					</header>
					<section class="project-card__body">

						<div class="project-card__timework">
							Длительность работ:
							<span>6 месяцев</span>
						</div>
						<div class="project-card__desc">
							Наша компания успешно прошла сертификационный аудит на соответствие системы менеджмента качества международному стандарту ISO 9001.
						</div>
						<a href="" class="read-more">Подробнее</a>
					</section>
				</article>
			</div>
			<div class="slide">
				<article class="project-card">
					<header class="project-card__header">
						<a href="" class="project-card__title">ООО КПФ «МИЛОРАДА»</a>
						<picture class="project-card__img">
							<source srcset="img/media/webp/project-2.webp" type="image/webp">
							<source srcset="img/media/project-2.jpg" type="image/jpg">
							<img src="img/media/project-2.jpg" alt="" loading="lazy">
						</picture>
						<div class="project-card__fill-subtitle">
							<span>Автоматизированная система 1С:</span>
							<br>
							<span>Предприятия на базе решений</span><br>
							<span>«1С:Предприятие 8. ERP</span>
							<br>
							<span>Управление предприятием»</span>
						</div>

					</header>
					<section class="project-card__body">

						<div class="project-card__timework">
							Длительность работ:
							<span>10 месяцев</span>
						</div>
						<div class="project-card__desc">
							Основной целью внедрения является перенос всех участков ведения учета на программный продукт «1С:ERP Управление предприятием»
						</div>
						<a href="" class="read-more">Подробнее</a>
					</section>
				</article>
			</div>
		</div>
	</div>
	<!-- end main-projects-slider -->
{% endblock %}
