<!-- begin promo-section -->
<section class="promo-section">
	<div class="uk-container">
		<h2 class="title-h2">Хотите стать профи в работе
			<br>
			с программой «1С»? Записывайтесь
			<br>
			на наши курсы!
		</h2>

		<a href="#callback-modal" class="btn btn--yellow" uk-toggle>Записаться на курсы</a>
	</div>
</section>
<!-- end promo-section -->
