<div class="grid-divider-large uk-grid-collapse uk-child-width-1-2@m" uk-grid>
	<div class="grid-divider-large__row">
		<div class="grid-divider-large__col">
			<div class="division">
				<div class="division__img">
					<img src="http://www.1c-victory.ru/images/product/KPI_002.png" width="280" height="137" alt="" loading="lazy">
				</div>
				<div class="division__role">Вдохновлять, оценивать, мотивировать</div>
				<div class="division__text">
					<p>Вы можете давать сотрудникам регулярную обратную связь, расставляя приоритеты в работе, ориентируя их усилия на достижение коллективного результата. Каждый участник Вашей команды будет иметь понимание того, что от него ожидают, и наглядно видеть свой вклад в результаты компании. Такой подход позволяет сделать вклад сотрудника более заметным, что может послужить поводом для карьерного роста наиболее эффективных сотрудников.</p>
					<a href="" class="btn">Узнать подробнее</a>
				</div>
			</div>
		</div>
	</div>
	<div class="grid-divider-large__row">
		<div class="grid-divider-large__col">
			<div class="division">
				<div class="division__img">
					<img src="http://www.1c-victory.ru/images/product/KPI_003.png" width="280" height="137" alt="" loading="lazy">
				</div>
				<div class="division__role">Координировать усилия сотрудников</div>
				<div class="division__text">
					<p>Руководителю не нужно помнить все задачи, которые он согласовал со своими сотрудниками. Контроль над задачами сотрудников и поручениями можно реализовать в едином информационном пространстве, четко определив критерии и сроки их исполнения. Руководитель может в любой момент проверить статус задачи, и на какой стадии выполнения она находится. При необходимости задачи можно делегировать, а также отправлять напоминание о их статусе по почте (в случае изменения формулировки задачи или пропуске отчетного срока). Любой проект в конечном итоге может быть разбит на подзадачи, ответственность за которые возможно распределить между различными подразделениями и сотрудниками</p>
					<a href="" class="btn">Узнать подробнее</a>
				</div>
			</div>
		</div>
	</div>

	<div class="grid-divider-large__row uk-width-1-1">
		<div class="grid-divider-large__col">
			<div class="division division--horizontal">
				<div class="division__img">
					<img src="http://www.1c-victory.ru/images/product/KPI_004.png" width="280" height="137" alt="" loading="lazy">
				</div>
				<div class="division__desc-wrapper">
					<div class="division__role">Учитывать мнение внутренних клиентов</div>
					<div class="division__text">
						<p>Не всегда результативность сотрудника можно оцифровать посредством измеримых показателей. Компетенции, подход к выполнению задач, соответствие корпоративным стандартам, соблюдение регламентов и процедур всегда может быть оценено руководителем, внутренними клиентами и другими сотрудниками. Субъективные оценки помогают дополнить общее мнение о результативности сотрудника. Это, в конечном итоге, может быть учтено в матрице результативности сотрудника.</p>
						<a href="" class="btn">Узнать подробнее</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="grid-divider-large__row">
		<div class="grid-divider-large__col">
			<div class="division">
				<div class="division__img">
					<img src="http://www.1c-victory.ru/images/product/KPI_005.png" width="280" height="137" alt="" loading="lazy">
				</div>
				<div class="division__role">Оценивать и вознаграждать</div>
				<div class="division__text">
					<p>Система премирования должна быть понятной для сотрудника, а результаты расчета вознаграждения - прозрачными. Это помогает выделить и отметить успехи сотрудника, поощрять в соответствии с достигнутым результатом и его ролью в производственном процессе. Переменную премиальную часть легко настроить и рассчитать на основе производственных и других значимых для бизнеса показателей.</p>
					<a href="" class="btn">Узнать подробнее</a>
				</div>
			</div>
		</div>
	</div>
	<div class="grid-divider-large__row">
		<div class="grid-divider-large__col">
			<div class="division">
				<div class="division__img">
					<img src="http://www.1c-victory.ru/images/product/KPI_006.png" width="280" height="137" alt="" loading="lazy">
				</div>
				<div class="division__role">
					Обоснованно управлять стратегией</div>
				<div class="division__text">
					<p>Оценить степень достижения стратегических целей компании можно теперь в 1 клик! Все наиболее важные показатели достижения стратегических целей доступны в едином информационном пространстве и представлены в виде простых для понимания стратегических карт.</p>
					<a href="" class="btn">Узнать подробнее</a>
				</div>
			</div>
		</div>
	</div>

	<div class="grid-divider-large__row uk-width-1-1">
		<div class="grid-divider-large__col">
			<div class="division division--horizontal">
				<div class="division__img">
					<img src="http://www.1c-victory.ru/images/product/KPI_007.png" width="280" height="137" alt="" loading="lazy">
				</div>
				<div class="division__desc-wrapper">
					<div class="division__role">Бизнес-процессы по согласованию целей, подведению итогов и проведению оценочных сессий.</div>
					<div class="division__text">
						<p>Ускорение производственных процессов приводит к тому, что цикл KPI-управления становится короче: предприятия переходят с годовой оценки результативности на квартальную, а с квартальной на месячную. Количество рутинных операций по согласованию и контролю исполнения целей увеличивается многократно. Это приводит к необходимости выделения дополнительных ресурсов на регулярный контроль процессов согласования целей и сбора данных. Появляется необходимость выделения отдельного администратора процесса KPI-управления. Использование типовых бизнес-процессов, рассылка уведомлений руководителям и сотрудникам позволяет сократить нагрузку на отделы отвечающие за мотивацию и расчет вознаграждения.</p>
						<a href="" class="btn">Узнать подробнее</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="grid-divider-large__row">
		<div class="grid-divider-large__col">
			<div class="division">
				<div class="division__img">
					<img src="http://www.1c-victory.ru/images/product/KPI_008.png" width="280" height="137" alt="" loading="lazy">
				</div>
				<div class="division__role">Ваш бизнес всегда под контролем</div>
				<div class="division__text">
					<p>Осуществлять мониторинг наиболее важных показателей можно в режиме реального времени. Информация может быть представлена в виде диаграмм, графиков, таблиц и отчетов. В любой момент времени можно увидеть отклонения, возникшие в работе Вашего предприятия, и понимая это, перераспределить ресурсы и усилия. Для получения детальной информации, можно интерактивно перейти («провалиться») в другой информационный слой, в котором представить данные в различных аналитических разрезах. Благодаря этому инструменту, руководители разного уровня, могут, быстро оценив ситуацию в компании, принимать взвешенные и обоснованные решения.</p>
					<a href="" class="btn">Узнать подробнее</a>
				</div>
			</div>
		</div>
	</div>
	<div class="grid-divider-large__row">
		<div class="grid-divider-large__col">
			<div class="division">
				<div class="division__img">
					<img src="http://www.1c-victory.ru/images/product/KPI_009.png" width="280" height="137" alt="" loading="lazy">
				</div>
				<div class="division__role">
					Исследовать данные, анализировать информацию</div>
				<div class="division__text">
					<p>Разобраться в причинах текущих проблем, а также найти возможности для повышения эффективности бизнес-процессов, руководителю помогут инструменты бизнес-анализа. С помощью данных инструментов Вы можете исследовать данные об эффективности бизнеса в различных измерениях и с различной степенью детализации, выявляя закономерности и причинно-следственные связи между различными факторами, влияющими на эффективность. Для проведения такого анализа, Вы можете конструировать отчеты, сами определяя параметры формирования и выбирая необходимые измерения аналитики. Инструмент способствует сокращению сроков получения необходимой информации за счет того, что построение отчетов происходит в «одно касание».</p>
					<a href="" class="btn">Узнать подробнее</a>
				</div>
			</div>
		</div>
	</div>

	<div class="grid-divider-large__row uk-width-1-1">
		<div class="grid-divider-large__col">
			<div class="division division--horizontal">
				<div class="division__img">
					<img src="http://www.1c-victory.ru/images/product/KPI_0010.png" width="280" height="137" alt="" loading="lazy">
				</div>
				<div class="division__desc-wrapper">
					<div class="division__role">Обмен данными</div>
					<div class="division__text">
						<p>Обмен данными может быть реализован как с информационными базами 1С:Предприятия, так и с другими информационными системами. Обмен данными возможен между неидентичными информационными базами 1С:Предприятия 8 с различной структурой конкретных объектов. При организации схемы обмена не накладывается ограничений на структуру распределенной системы. Может быть организована как классическая структура типа «звезда», так и более сложные многоуровневые структуры типа «снежинка» и другие.</p>
						<a href="" class="btn">Узнать подробнее</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
