.division {
  &__img {
    margin-bottom: 20px;
    width: 158px;
    height: 138px;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (min-width: $tablet-w) {
      width: 305px;
      height: 267px;
    }

    img {
      width: auto;
      height: auto;
      max-width: 100%;
      max-height: 100%;
    }
  }

  &__role {
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 28px;

    @media (min-width: $tablet-w) {
      font-size: 36px;
      line-height: 44px;
    }
  }

  &__text {
    p {
      margin-bottom: 20px;
    }

    & > *:last-child {
      margin-bottom: 0 !important;
    }
  }

  &--horizontal {
    display: flex;
    flex-wrap: wrap;
    @media (min-width: $mob-s) {
      flex-wrap: nowrap;
    }
    .division__img {
      flex-shrink: 0;
    }
  }

  &__desc-wrapper {
    @media (min-width: $mob-s) {
      padding-left: 20px;
    }
  }
}
