.progress-section {
  padding: 56px 0;

  @media (min-width: $tablet-w) {
    padding: 70px 0;
  }
}

.progress-list {
  @include list-reset();
  margin-bottom: 0;
  li {
    list-style: none;
    margin-bottom: 0 !important;
  }

  &__item {
    display: flex;
    align-items: center;
    @media (min-width: $tablet-w) {
      padding: 0;
      height: 100%;
    }
  }

  &__img {
    margin-right: 20px;
    width: 75px;
    text-align: center;
    flex-shrink: 0;
  }

  &__text {
    color: $darkBlue;
  }
}
