{% extends "../layouts/default.twig" %}
{% set title="Советы по 1С" %}
{% set bread = ['О компании', 'Советы по 1С'] %}

{% block content %}

	<div class="uk-container">
		<div class="uk-grid">
			<div class="uk-width-5-6@m">
				<h1>Порядок оформления имущественного вычета в 1С: Бухгалтерия 8</h1>

				<p>
					Курс создан специально для тех, кто ведет учет на УСН (Доходы минус расходы 15% с учетом прогрессивной шкалы).
				</p>

				<div class="lead-text">
					Рекомендуется для индивидуальных предпринимателей, которые в 2021 году
					<span class="fill-yellow">переходят с ЕНВД на упрощенную систему налогообложения.</span>
				</div>

				<h4>Цели и задачи:</h4>
				<p>практическое освоение 1С:Бухгалтерии при упрощенной системе налогообложения (УСН). Курс полезен как для начинающих бухгалтеров, так и для специалистов с опытом работы, решивших повысить квалификацию и изучить новые возможности программы.</p>

				<h4>Вы научитесь:</h4>
				<ul>
					<li>делать основные настройки и готовить программу к эксплуатации, в том числе при переходе с ЕНВД на упрощенную систему налогообложения;</li>
					<li>добавлять первичную информацию (контрагентов, номенклатуру, платежные поручения, накладные, акты, авансовые отчеты и т.п.);</li>
					<li>вести документооборот на каждом основном участке учета в программе;</li>
					<li>вести учет доходов и расходов для налогообложения единым налогом по УСН;</li>
					<li>формировать «Книгу учета доходов и расходов», регламентированную отчетность;</li>
					<li>работать с «Экспресс-проверкой», помощниками в программе;</li>
					<li>и многому другому.</li>
				</ul>

				<figure>
					<img src="img/media/content-img-1.png" alt="" loading="lazy">
					<figcaption>Подпись к изображению</figcaption>
				</figure>

				<h4>Преимущества перехода с базовых версий на «1С:Фреш»?</h4>
				<ol>
					<li>Базы будут доступны через интернет с любого компьютера из любой точки мира 24 часа в сутки, 7 дней в неделю;</li>
					<li>В базе могут работать несколько пользователей одновременно и для этого не потребуется переобучение;</li>
					<li>Ваша информация доступна только вам, всё автоматизировано.</li>
				</ol>

				<p>Стоимость доступа к полной версии интернет-курса составляет 2100 рублей для одного слушателя</p>
				<p>
					Для ознакомления доступна
					<a href="">бесплатная версия</a>
					интернет-курса (3 из 72 видеоуроков)
					<br>
					По всем вопросам можно обратиться к менеджеру нашей компании по телефону
					<a href="tel:+74957862146">8 (495) 786-21-46</a>
				</p>

				<a href="" class="btn btn--yellow">Попробовать бесплатную версию</a>


			</div>
			<div class="uk-width-1-6@m uk-visible@m">
				<aside class="right-sidebar">
					<div class="title-h5 uk-text-uppercase uk-margin-medium-bottom">Статьи</div>
					<ul class="list-chapter">
						<li class="list-chapter__item">
							<a href="" class="list-chapter__link">Повышение эффективности малого и среднего бизнеса за 2 недели? Легко!</a>
						</li>
						<li class="list-chapter__item">
							<a href="" class="list-chapter__link">Полезные статьи про 1С:Предприятие</a>
						</li>
					</ul>
				</aside>
			</div>
		</div>
	</div>

{% endblock %}
