{% extends "../layouts/default.twig" %}
{% set title="Сертификаты" %}
{% set bread = ['О компании', 'Сертификаты'] %}

{% block content %}

	<!-- begin certificates-section -->
	<div class="certificates-section">
		<div class="gray-block">
			<div class="uk-container">
				<h1>Сертификаты</h1>
				<div class="lead-text">
					Сертификаты компании 1С:Франчайзи Виктория.
					<span class="fill-yellow">Покупайте 1С только у надёжных
						<br>
						представителей!</span>
				</div>
			</div>
		</div>
		<div class="uk-container">
			<ul class="certificates-list" uk-lightbox>
				<li class="certificates-list__row">
					<div class="certificates-list__item">
						<div class="uk-grid">
							<div class="uk-width-1-2@m">
								<div class="certificate-card">
									<div class="certificate-card__img">
										<a href="img/media/cert-1.png"><img src="img/media/cert-1.png" alt="" loading="lazy"></a>
									</div>
									<div class="certificate-card__desc">
										<div class="certificate-card__title">Сертификат партнера</div>
										<div class="certificate-card__text">
											Фирмы-франчайзи работают под единой маркой «1С:Франчайзинг», имеют в своем составе аттестованных фирмой "1С" специалистов, что гарантирует высокое качество выполнения типового набора услуг, начиная от простой инсталляции и элементарной настройки прикладной конфигурации до интеграции программы с другими пакетами, обучения пользователей и постановки учета на предприятии в полном объеме.
										</div>
									</div>
								</div>
							</div>
							<div class="uk-width-1-2@m">
								<div class="certificate-card">
									<div class="certificate-card__img">
										<a href="img/media/cert-2.png"><img src="img/media/cert-2.png" alt="" loading="lazy"></a>
									</div>
									<div class="certificate-card__desc">
										<div class="certificate-card__title">Сертификат ISO 9001</div>
										<div class="certificate-card__text">
											Официальный документ, который подтверждает качество работ и услуг организации на основании гарантии, что все процессы на предприятии соответствуют стандарту качества ISO 9001. Изготавливается сертификат в Великобритании
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</li>
				<li class="certificates-list__row">
					<div class="certificates-list__item">
						<div class="uk-grid">
							<div class="uk-width-1-1">
								<div class="certificate-card">
									<div class="certificate-card__img">
										<a href="img/media/cert-3.png"><img src="img/media/cert-1.png" alt="" loading="lazy"></a>
									</div>
									<div class="certificate-card__desc">
										<div class="certificate-card__title">Cертификат бизнес партнера</div>
										<div class="certificate-card__text">
											<p>Основные цели создания Авторизованных Учебных Центров (АУЦ) - обеспечение высокого качества обучения программным продуктам "1С".</p>

											<p>Слушатели АУЦ могут:</p>

											<p>
												научиться эффективно использовать возможности программных продуктов 1С и при этом сэкономить время на освоение программного продукта; в процессе обучения доступно живое общение с квалифицированными преподавателями и коллегами
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</li>
				<li class="certificates-list__row">
					<div class="certificates-list__item">
						<div class="uk-grid">
							<div class="uk-width-1-2@m">
								<div class="certificate-card">
									<div class="certificate-card__img">
										<a href="img/media/cert-4.png"><img src="img/media/cert-4.png" alt="" loading="lazy"></a>
									</div>
									<div class="certificate-card__desc">
										<div class="certificate-card__title">Сертификат партнера</div>
										<div class="certificate-card__text">
											Данный сертификат подтверждает, что 1С:Франчайзи Виктория и группа компаний является сертифицированным центром сопровождения программ и информационных продуктов 1С. Качественно и оперативно выполняет требования и стандарты фирмы 1С в области регулярного сопровождения программных продуктов на платформе 1С:Предприятие.
										</div>
									</div>
								</div>
							</div>
							<div class="uk-width-1-2@m">
								<div class="certificate-card">
									<div class="certificate-card__img">
										<a href="img/media/cert-5.png"><img src="img/media/cert-5.png" alt="" loading="lazy"></a>
									</div>
									<div class="certificate-card__desc">
										<div class="certificate-card__title">Cертификат бизнес партнера</div>
										<div class="certificate-card__text">
											Важным направлением для фирмы "1С" является автоматизация бюджетных учреждений. Для этого "1С" работает с пользователями через самую разветвленную сеть на компьютерном рынке России. В состав сети входят сертифицированные фирмой "1С" центры компетенции по бюджетному учету (ЦКБ). ЦКБ предоставляют российским учреждениям полный и качественный набор необходимых услуг, включая консалтинг по управлению процессами в бюджетном учете.
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</li>
				<li class="certificates-list__row">
					<div class="certificates-list__item">
						<div class="uk-grid">
							<div class="uk-width-1-1">
								<div class="certificate-card">
									<div class="certificate-card__img">
										<a href="img/media/cert-6.png"><img src="img/media/cert-6.png" alt="" loading="lazy"></a>
									</div>
									<div class="certificate-card__desc">
										<div class="certificate-card__title">Cертификат бизнес партнера</div>
										<div class="certificate-card__text">
											<p>1С:Франчайзи Виктория занимается обслуживанием детских садов и школ, которые работают в программе 1С:Школьное Питание. Для города Москвы разработан специализированный программный продукт – «Автоматизированное рабочее место диетсестры дошкольного учреждения Москвы» совместно с компьютерным агенстством "Капитан", специалистами Роспотребнадзора и Московского Фонда содействия санитарно-эпидемиологическому благополучия населению на основе утвержденных Департаментом образования г.Москвы "Методических указаний по питанию в дошкольных учреждений" (приказ №920).
											</p>

											<p>Для обеспечения качественного обслуживания данного продукта проводится регулярная сертификация сотрудников, что подтверждает сертификат Агентства «Капитан» от 06.10.2010</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</li>
				</li>
				<li class="certificates-list__row">
					<div class="certificates-list__item">
						<div class="uk-grid">
							<div class="uk-width-1-2@m">
								<div class="certificate-card">
									<div class="certificate-card__img">
										<a href="img/media/cert-7.png"><img src="img/media/cert-7.png" alt="" loading="lazy"></a>
									</div>
									<div class="certificate-card__desc">
										<div class="certificate-card__title">Cертификат бизнес партнера</div>
										<div class="certificate-card__text">
											Статус бизнес - партнеров «1С-Битрикс» свидетельствует о том что компания имеет опыт разработки и хостинга веб-проектов на основе продуктов "1С-Битрикс".
										</div>
									</div>
								</div>
							</div>
							<div class="uk-width-1-2@m">
								<div class="certificate-card">
									<div class="certificate-card__img">
										<a href="img/media/cert-8.png"><img src="img/media/cert-8.png" alt="" loading="lazy"></a>
									</div>
									<div class="certificate-card__desc">
										<div class="certificate-card__title">Cертификат бизнес партнера</div>
										<div class="certificate-card__text">
											Разработанная ГК «ГЭНДАЛЬФ» программа автоматического архивирования «Хранитель» отметила в этом году 10-летний юбилей! За это время «Хранитель» показал себя как надежный помощник в работе. Программа избавляет пользователя от необходимости архивирования вручную и берет заботу о сохранности данных на себя. «Хранитель» сам создает архивы по заданному расписанию и работает c любыми форматами данных.
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</li>
			</div>
		</ul>
	</div>
</div><!-- end certificates-section -->{% endblock %}
