{% extends "../layouts/default.twig" %}
{% set title="О компании" %}
{% set bread = ['Главная', 'О компании'] %}

{% block content %}

	<div class="gray-wrapper uk-margin-remove-bottom">
		<div class="uk-container">
			<h1>О компании</h1>

			<div class="lead-text">
				<p>Компания 1С:Франчайзи Виктория предоставляет полный спектр услуг по
					<span class="fill-yellow">автоматизации управления и учета</span>
					на предприятиях на платформе 1С.</p>

				<p>Компания 1С:Франчайзи Виктория была основана в 2003 году и в настоящее время обслуживает более
					<span class="fill-yellow">2600 клиентов в Москве</span>, Санкт-Петербурге и Московской области.</p>
			</div>
		</div>
	</div>

	<section class="progress-section">

		<div class="uk-container">
			<ul class="progress-list uk-child-width-1-3@m" uk-grid>
				<li class="progress-list__col">
					<div class="progress-list__item">
						<div class="progress-list__img">
							<img src="img/media/cubok.svg" width="62" height="67" alt="" loading="lazy">
						</div>
						<div class="progress-list__text">Более 1000 уникальных проектов</div>
					</div>
				</li>

				<li class="progress-list__col">
					<div class="progress-list__item">
						<div class="progress-list__img">
							<img src="img/media/rating.svg" width="75" height="41" alt="" loading="lazy">
						</div>
						<div class="progress-list__text">Более 10 лет успешной работы в Москве, Самаре и Санкт-Петербурге</div>
					</div>
				</li>

				<li class="progress-list__col">
					<div class="progress-list__item">
						<div class="progress-list__img">
							<img src="img/media/people.svg" width="81" height="45" alt="" loading="lazy">
						</div>
						<div class="progress-list__text">Более 12 000 клиентов</div>
					</div>
				</li>

				<li class="progress-list__col">
					<div class="progress-list__item">
						<div class="progress-list__img">
							<img src="img/media/staff.svg" width="80" height="52" alt="" loading="lazy">
						</div>
						<div class="progress-list__text">200 замечательных сотрудников</div>
					</div>
				</li>

				<li class="progress-list__col">
					<div class="progress-list__item">
						<div class="progress-list__img">
							<img src="img/media/iso.svg" width="67" height="67" alt="" loading="lazy">
						</div>
						<div class="progress-list__text">Стандарт менеджмента качества ISO 9001</div>
					</div>
				</li>

				<li class="progress-list__col">
					<div class="progress-list__item">
						<div class="progress-list__img">
							<img src="img/media/round-check.svg" width="77" height="68" alt="" loading="lazy">
						</div>
						<div class="progress-list__text">Более 100 000 решенных вопросов</div>
					</div>
				</li>
			</ul>
		</div>

	</section>

	<!-- begin content-group -->
	<section class="content-group">
		<div class="uk-container">
			<div class="content-group__inner">
				<div class="content-group__header">
					<h2 class="title-h2">Компанию 1С:Франчайзи Виктория отличает</h2>
				</div>
				<div class="content-group__body">
					<div class="grid-divider-large uk-grid-collapse uk-child-width-1-2@s" uk-grid>
						<div class="grid-divider-large__row">
							<div class="grid-divider-large__col">
								<div class="division">
									<div class="division__img">
										<img src="img/media/skill.svg" width="280" height="137" alt="" loading="lazy">
									</div>
									<div class="division__role">Высокий уровень подготовки специалистов</div>
									<div class="division__text">
										<p>Клиентские менеджеры и сервисные сотрудники имеют высокую квалификацию, в том числе, и в предметной области (бухгалтерском, кадровом, оперативном учете), что позволяет общаться с клиентами на одном языке, понимать, что желает получить заказчик, и самим предлагать на основе опыта экспертов компании удобные решения для клиентов</p>
									</div>
								</div>
							</div>
						</div>

						<div class="grid-divider-large__row">
							<div class="grid-divider-large__col">
								<div class="division">
									<div class="division__img">
										<img src="img/media/scissors.svg" width="262" height="196" alt="" loading="lazy">
									</div>
									<div class="division__role">Выгодные условия на регулярное обслуживание 1С</div>
									<div class="division__text">
										<p>Для постоянных клиентов нашей компании при обслуживании программ 1С действуют специальные цены на обновление и настройку конфигураций</p>
									</div>
								</div>
							</div>
						</div>

						<div class="grid-divider-large__row">
							<div class="grid-divider-large__col">
								<div class="division">
									<div class="division__img">
										<img src="img/media/addon.svg" width="295" height="153" alt="" loading="lazy">
									</div>
									<div class="division__role">Бесплатное дополнение</div>
									<div class="division__text">
										<p>Наши клиенты получают возможность установить дополнение к 1С Бухгалтерии, являющееся собственной разработкой нашей компании, которое позволяет значительно упростить некоторые стандартные операции и построить удобные отчеты</p>
									</div>
								</div>
							</div>
						</div>

						<div class="grid-divider-large__row">
							<div class="grid-divider-large__col">
								<div class="division">
									<div class="division__img">
										<img src="img/media/remote-service.svg" width="369" height="146" alt="" loading="lazy">
									</div>
									<div class="division__role">Удаленное обслуживание</div>
									<div class="division__text">
										<p>Наша компания обладает технологией оказания услуг по обновлению и настройке конфигурации с удаленного компьютера без выезда в офис клиента, что позволяет сократить время работы наших специалистов и оптимизировать стоимость услуг</p>
									</div>
								</div>
							</div>
						</div>

						<div class="grid-divider-large__row uk-width-1-1">
							<div class="grid-divider-large__col">
								<div class="division division--horizontal">
									<div class="division__img">
										<img src="img/media/big-iso.svg" width="198" height="244" alt="финансист" loading="lazy">
									</div>
									<div class="division__desc-wrapper">
										<div class="division__role">Сертификат ISO 9001</div>
										<div class="division__text">
											<p>Наша компания успешно прошла сертификационный аудит на соответствие системы менеджмента качества международному стандарту ISO 9001. Наличие сертификата свидетельствует, что компания хорошо организована,</p>

											<p>в ней четко распределены обязанности, процедуры, соблюдается технология работы, имеются оперативные инструкции, документированные и известные всему персоналу, существуют отработанные процедуры контроля выполняемых работ.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- end content-group -->


	<!-- begin content-group -->
	<section class="content-group bgGray">
		<div class="uk-container">
			<div class="content-group__inner">
				<div class="content-group__header">
					<h2 class="title-h2">К настоящему времени в компании
						<br>
						выделилось несколько
						<br>направлений работы</h2>
				</div>
				<div class="content-group__body">
					<div class="vertical-tabs">

						<div class="uk-container">
							<div class="uk-grid uk-grid-collapse">
								<div class="uk-width-1-2@m">
									<ul class="uk-tab-left custom-tab-left" uk-tab="connect: #steps-content">
										<li>
											<a>Настройка и обслуживание 1С:Предприятие 8</a>
										</li>
										<li>
											<a>Собственное дополнение к конфигурации «1С:Бухгалтерия» - «Малое предприятие»</a>
										</li>
										<li class="uk-active">
											<a>Работа с бюджетными учреждениями</a>
										</li>
										<li>
											<a>Удаленное сопровождение клиентов</a>
										</li>
										<li>
											<a>Комплексная автоматизация</a>
										</li>
									</ul>
								</div>
								<div class="uk-width-1-2@m">
									<ul id="steps-content" class="uk-switcher">
										<li>1</li>
										<li>2</li>
										<li>
											<p>С 2005 года компания «1С:Франчайзи Виктория» начала активно продавать, настраивать и обслуживать «1С:Предприятие 8». Новая технологическая платформа позволяет упростить ведение учета и расширяет возможности применения «1С:Предприятия». Особенно много внимания уделяется тому, чтобы сделать переход с одной платформы на другую максимально простым. Для этого были разработаны программы обучения клиентов новым конфигурациям, сотрудники прошли отдельную подготовку по особенностям переноса данных из одной конфигурации в другую. К настоящему времени накоплен большой опыт по решению всех возникающих трудностей.</p>
										</li>
										<li>4</li>
										<li>5</li>
									</ul>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- end content-group -->

	<!-- begin content-group -->
	<section class="content-group">
		<div class="uk-container">
			<div class="content-group__inner">
				<div class="content-group__header">
					<h2 class="title-h2">Компания 1С:Франчайзи Виктория предоставляет полный спектр услуг по автоматизации управления и учета на предприятиях</h2>
				</div>
				<div class="content-group__body">
					<ul class="list-left-underline uk-child-width-1-3@m uk-child-width-1-2@s uk-margin-large-bottom" uk-grid>
						<li>
							<div class="list-left-underline__item">Консультации на этапе подбора программного продукта и его демонстрация</div>
						</li>
						<li>
							<div class="list-left-underline__item">Установка программного обеспечения</div>
						</li>
						<li>
							<div class="list-left-underline__item">Информационно-технологическое сопровождение</div>
						</li>
						<li>
							<div class="list-left-underline__item">Внедрение программного обеспечения</div>
						</li>
						<li>
							<div class="list-left-underline__item">Сопровождение и обновление программного обеспечени</div>
						</li>
						<li>
							<div class="list-left-underline__item">Обучение пользователей и ИТ-специалистов</div>
						</li>
					</ul>

					<div class="lead-text">
						Наша компания также
						<span class="fill-yellow">занимается разработкой</span>
						собственных программных продуктов на платформе «1С:Предприятие 8».
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- end content-group -->

	<!-- begin content-group -->
	<section class="content-group bgGray uk-margin-remove-bottom">
		<div class="uk-container">
			<div class="content-group__inner">
				<div class="content-group__header">
					<h2 class="title-h2">Новости</h2>
					<a href="" class="content-group__subtitle">Все новости</a>
				</div>
				<div class="content-group__body">
					<div id="news-list" class="news-list uk-margin-large-bottom">
						<div class="news-list__item-main">

							<article class="post">
								<div class="post__date">12 июня 2021</div>
								<div class="post__title">
									<a href="">Акция для пользователей базовых версий программ 1С</a>
								</div>
								<div class="post__text">Всем пользователям базовых версий программ 1С предлагается принять участие в акции по переходу в облачный сервис «1С:Фреш» на суперусловиях</div>
							</article>
						</div>
						<div class="news-list__items">
							{% for item in 1..1 %}
								<div class="news-list__item">

									<article class="post">
										<div class="post__date">12 июня 2021</div>
										<div class="post__title">
											<a href="">Акция для пользователей базовых версий программ 1С</a>
										</div>
										<div class="post__text">Всем пользователям базовых версий программ 1С предлагается принять участие в акции по переходу в облачный сервис «1С:Фреш» на суперусловиях</div>
									</article>
								</div>

								<div class="news-list__item">
									<article class="post">
										<div class="post__date">24 июня 2021</div>
										<div class="post__title">
											<a href="">Единый онлайн‑семинар «1С» для бухгалтеров и руководителей</a>
										</div>
										<div class="post__text">16 декабря 2020 года состоится Единый онлайн-семинар 1С для бухгалтеров и руководителей</div>
									</article>
								</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- end content-group -->

{% endblock %}

{% block afterContentBlock %}

	<!-- begin promo-section -->
	<section class="promo-section">
		<div class="uk-container">
			<h2 class="title-h2">Обращайтесь к нам и мы поможем вам
				<br>
				Звоните +7 (495) 786 21 46
			</h2>

			<a href="#callback-modal" class="btn btn--yellow" uk-toggle>Заказать обратный звонок</a>
		</div>
	</section>
	<!-- end promo-section -->

{% endblock %}
