{% extends "../layouts/default.twig" %}
{% set title="Программа 1С курсов" %}
{% set bread = ['Обучение', 'Программа 1С курсов'] %}

{% block content %}

	<div class="gray-wrapper">
		<div class="uk-container">
			<div class="uk-grid">
				<div class="uk-width-5-6@m">
					<h1>Программа 1С курсов</h1>
					<div class="lead-text">
						Курсы построены на анализе практических примеров, которые охватывают основной документооборот – от введения сведений об организации и справочников до формирования итоговых показателей деятельности фирмы и различных аналитических отчетов.
						<span class="fill-yellow">Курсы помогают получить четкое представление о структуре конфигурации,</span>
						правильно использовать богатые возможности программы. В рамках обучения даются методические рекомендации по правильной организации учета в системе.
					</div>

				</div>
			</div>
		</div>
	</div>


	<div class="uk-container">

		<div class="courses-links">
			<div class="uk-child-width-1-2@m uk-grid" uk-grid>
				<div>
					<a href="" class="border-link">
						<span class="icon-chevron-right">Ведение бухгалтерского учета в 1С: Бухгалтерия 8</span>
					</a>
					<a href="" class="border-link">
						<span class="icon-chevron-right">Управление производством в 1С</span>
					</a>
					<a href="" class="border-link">
						<span class="icon-chevron-right">1С:Управление торговлей 8</span>
					</a>
				</div>
				<div>
					<a href="" class="border-link">
						<span class="icon-chevron-right">Ведение бухгалтерского учета при применении УСН</span>
					</a>
					<a href="" class="border-link">
						<span class="icon-chevron-right">1С:Зарплата и Управление Персоналом 8</span>
					</a>
					<a href="" class="border-link">
						<span class="icon-chevron-right">1С:Комплексная автоматизация типовая конфигурация</span>
					</a>
				</div>
			</div>
		</div>

		<hr>

		<div class="grid-divider-large uk-child-width-1-2@m uk-grid-collapse uk-margin-large-bottom" uk-grid>
			<div class="grid-divider-large__row">
				<div class="grid-divider-large__col">
					<a href="" class="big-text icon-chevron-right icon-position-center">Бухгалтерия 8 редакция 2.0</a>
					<div class="yellow-tooltip">
						<span>7 лекций, 28 академчасов</span>
					</div>
					<p>Группа 158
						<br>
						Понедельник, среда, пятница</p>
				</div>
			</div>
			<div class="grid-divider-large__row">
				<div class="grid-divider-large__col">
					<a href="" class="big-text icon-chevron-right icon-position-center">Управление торговлей 8 редакция 11</a>
					<div class="yellow-tooltip">
						<span>Идет набор, звоните 786-21-46</span>
					</div>
				</div>
			</div>
			<div class="grid-divider-large__row">
				<div class="grid-divider-large__col">
					<a href="" class="big-text icon-chevron-right icon-position-center">Комплексная автоматизация 8</a>
					<div class="yellow-tooltip">
						<span>Идет набор, звоните 786-21-46</span>
					</div>
				</div>
			</div>
			<div class="grid-divider-large__row">
				<div class="grid-divider-large__col">
					<a href="" class="big-text icon-chevron-right icon-position-center">Зарплата и Управление персоналом 8</a>
					<div class="yellow-tooltip">
						<span>5 лекций, 20 академчасов</span>
					</div>
					<p>Группа 157
						<br>
						Вторник, четверг</p>
				</div>
			</div>
		</div>

		<table class="price-table">
			<thead>
				<tr>
					<th class="mobile-title">Курсы</th>
					<th>Название курса</th>
					<th>Количество академчасов</th>
					<th>Стоимость обучения</th>
				</tr>
			</thead>

			<tbody>
				<tr>
					<td>
						<a href="" class="bold-text">Ведение бухгалтерского учета в «1С:Бухгалтерия 8»</a>
					</td>
					<td data-content="Кол-во академчасов" class="mobile-content">28</td>
					<td>
						<div class="price-product">
							<div class="price-product__value">9 600 р.</div>
						</div>
					</td>
				</tr>

				<tr>
					<td>
						<a href="" class="bold-text">Ведение бухгалтерского учета при применении УСН в «1С:Бухгалтерия 8»</a>
					</td>
					<td data-content="Кол-во академчасов" class="mobile-content">12</td>
					<td>
						<div class="price-product">
							<div class="price-product__value">4 200 р.</div>
						</div>
					</td>
				</tr>

				<tr>
					<td>
						<a href="" class="bold-text">Введение в основные принципы работы с программой «1С:Управление Торговлей 8»</a>
					</td>
					<td data-content="Кол-во академчасов" class="mobile-content">24</td>
					<td>
						<div class="price-product">
							<div class="price-product__value">8 400 р.</div>
						</div>
					</td>
				</tr>

				<tr>
					<td>
						<a href="" class="bold-text">Кадровый учет и расчет зарплаты в 1С: Зарплата и Управление Персоналом</a>
					</td>
					<td data-content="Кол-во академчасов" class="mobile-content">20</td>
					<td>
						<div class="price-product">
							<div class="price-product__value">7 000 р.</div>
						</div>
					</td>
				</tr>

				<tr>
					<td>
						<a href="" class="bold-text">1С:Комплексная автоматизация 8</a>
					</td>
					<td data-content="Кол-во академчасов" class="mobile-content">40</td>
					<td>
						<div class="price-product">
							<div class="price-product__value">14 000 р.</div>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>


{% endblock %}

{% block afterContentBlock %}

	<!-- begin promo-section -->
	<section class="promo-section">
		<div class="uk-container">
			<h2 class="title-h2">Узнать стоимость курса и оставить заявку
				<br>Вы можете по телефону: +7 (495) 786 21 46
			</h2>

			<a href="#callback-modal" class="btn btn--yellow" uk-toggle>Заказать обратный звонок</a>
		</div>
	</section>
	<!-- end promo-section -->

{% endblock %}
