{% extends "../layouts/default.twig" %}
{% set title="Купить 1С" %}
{% set bread = ['Главная', 'Купить 1С'] %}

{% block content %}

	<div class="gray-wrapper">
		<div class="uk-container">
			<div class="uk-grid">
				<div class="uk-width-5-6@m">
					<h1>Купить 1С</h1>
					<div class="lead-text">
						Программные продукты 1С разработаны
						<span class="fill-yellow">для автоматизации бизнес-процессов</span>
						на крупных и малых предприятиях. Вкладывая финансовые средства в развитие компании, оптимизацию учета и управленческой деятельности, необходимо знать об особенностях рынка поставщиков информационных технологий, а проще говоря, знать у кого, и где купить 1С.
					</div>

				</div>
			</div>
		</div>
	</div>


	<div class="uk-container">

		<div class="courses-links uk-margin-large-bottom">
			<div class="uk-child-width-1-3@m uk-grid" uk-grid>
				<div>
					<a href="" class="border-link">
						<span class="icon-chevron-right">Лицензии 1С:Предприятие 8</span>
					</a>
					<a href="" class="border-link">
						<span class="icon-chevron-right">1С Комплексная
							<br>Автоматизация 8</span>
					</a>
					<a href="" class="border-link">
						<span class="icon-chevron-right">1С:Документооборот 8</span>
					</a>
					<a href="" class="border-link">
						<span class="icon-chevron-right">1С:Управление Торговлей</span>
					</a>
				</div>
				<div>
					<a href="" class="border-link">
						<span class="icon-chevron-right">1С:Бухгалтерия 8</span>
					</a>
					<a href="" class="border-link">
						<span class="icon-chevron-right">1С:Управление нашей фирмой 8</span>
					</a>
					<a href="" class="border-link">
						<span class="icon-chevron-right">1С:Управление по целям и KPI</span>
					</a>
				</div>

				<div>
					<a href="" class="border-link">
						<span class="icon-chevron-right">1С:Зарплата и Управление Персоналом 8</span>
					</a>
					<a href="" class="border-link">
						<span class="icon-chevron-right">1С:Предприятие 8 CRM</span>
					</a>
					<a href="" class="border-link">
						<span class="icon-chevron-right">1С: ERP Управление
							<br>
							предприятием 2</span>
					</a>
				</div>
			</div>
		</div>

	</div>

	<!-- begin content-group -->
	<section class="content-group bgGray">
		<div class="uk-container">
			<div class="content-group__inner">
				<div class="content-group__header">
					<h2 class="title-h2">7 простых шагов, чтобы купить 1С</h2>
				</div>
				<div class="content-group__body">
					<div class="vertical-tabs">

						<div class="uk-container">
							<div class="uk-grid uk-grid-collapse">
								<div class="uk-width-1-2@m">
									<ul class="uk-tab-left custom-tab-left" uk-tab="connect: #steps-content">
										<li class="uk-active">
											<a>Принять решение</a>
										</li>
										<li>
											<a>Подписать договор</a>
										</li>
										<li>
											<a>Пройти аудит</a>
										</li>
										<li>
											<a>Утвердить список настроек системы</a>
										</li>
										<li>
											<a>Проверить выполнение работы</a>
										</li>
										<li>
											<a>Пройти обучение</a>
										</li>
										<li>
											<a>Приступить к работе в настроенной системе</a>
										</li>
									</ul>
								</div>
								<div class="uk-width-1-2@m">
									<ul id="steps-content" class="uk-switcher">
										<li>
											<p class="big-text">Примите решение автоматизировать документооборот в Вашей компании, пригласите нас для обсуждения деталей внедрения электронного документооборота и подготовки коммерческого предложения, с указанием стоимости работ и сроков реализации проекта.</p>
										</li>
										<li>2</li>
										<li>3</li>
										<li>4</li>
										<li>5</li>
									</ul>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- end content-group -->

	<div class="uk-container">
		<div class="uk-child-width-1-2@m uk-grid">
			<div class="uk-flex-first@m">
				<div class="title-h3">С нами – надежно и выгодно</div>
				<p>1С:Франчайзи Виктория специализируется на продаже, установке, настройке и сервисном сопровождении программных продуктов. У нас вы всегда можете купить программу 1С – десятки типовых решений и прикладных разработок, созданных практически для любых видов деятельности. Профессионалы 1С:Франчайзи Виктория по требованию клиента оперативно проконсультируют по всем интересующим вопросам и помогут подобрать оптимальное решение, либо подскажут, какие 1С конфигурации купить для оптимизации бизнеса, построения эффективной системы управления. Мы предлагаем все существующие версии продукта, начиная от базовой версии 1С 8 до обновленной 1С 8 3 по цене, которая полностью устроит даже самого требовательного заказчика.</p>

				<p>Мы не только предлагаем клиенту купить 1С недорого, но и предоставляем полный сервис услуг по дальнейшему обслуживанию. Команда 1С:Франчайзи Виктория заинтересована в бесперебойной работе программного продукта и берет на себя все обязательства по установке качественного программного продукта и грамотному обучению персонала на местах, а также полному информационному обслуживанию своих заказчиков. Мы знаем все тонкости внедрения и оптимизации управления с помощью программ 1С и помогаем своим клиентам выводить компанию на принципиально новый уровень работы.</p>
			</div>
			<div class="uk-flex-first uk-flex-end@m">
				<div class="uk-container-cover  uk-height-medium uk-height-full@m uk-margin-medium-bottom uk-remove-margin@m">
					<picture>
						<source srcset="img/media/content-img-3.png" media="(min-width: 768px)" type="image/png">
						<source srcset="img/media/content-img-3-mob.png" media="(min-width: 320px)" type="image/png">
						<img src="img/media/content-img-3-mob.png" alt="" uk-cover loading="lazy">
					</picture>
				</div>
			</div>
		</div>

		<hr>

		<div class="uk-child-width-1-2@m uk-grid">
			<div>
				<div class="uk-container-cover  uk-height-medium uk-height-full@m uk-margin-medium-bottom uk-remove-margin@m">
					<picture>
						<source srcset="img/media/content-img-4.png" media="(min-width: 768px)" type="image/png">
						<source srcset="img/media/content-img-4-mob.png" media="(min-width: 320px)" type="image/png">
						<img src="img/media/content-img-4-mob.png" alt="" uk-cover loading="lazy">
					</picture>
				</div>
			</div>
			<div>
				<div class="title-h3">Технологии – для бизнеса</div>
				<p>1С:Франчайзи Виктория работает на рынке более десяти лет. Мы заслужили отличную деловую репутацию и доверие клиентов, удовлетворив потребности в эффективных решениях более 2600 заказчиков. За последнее время мы расширили географию присутствия региональных представительств. Программы на платформе 1С можно купить как в Москве, так и купить 1С в Спб – мы открыли большой офис в Санкт-Петербурге. Кроме того, филиал компании существует в Самаре.</p>

				<p>Мы считаем, что только используя современные подходы к развитию бизнеса, можно получить качественный результат в сфере управления предприятием. Мы всегда используем только самые передовые технологии и достижения, поэтому предлагаем вам идти в ногу со временем, а, значить, купить 1С в нашей компании и получить полный спектр гарантийного и сервисного обслуживания на все время партнерства с 1С: Франчайзи Виктория.</p>
			</div>

		</div>
	</div>


{% endblock %}

{% block afterContentBlock %}

	<!-- begin promo-section -->
	<section class="promo-section">
		<div class="uk-container">
			<h2 class="title-h2">Остались вопросы? Мы перезвоним
				<br>и бесплатно проконсультируем!
			</h2>

			<a href="#callback-modal" class="btn btn--yellow" uk-toggle>Заказать обратный звонок</a>
		</div>
	</section>
	<!-- end promo-section -->

{% endblock %}
