{% extends "../layouts/sales-page.twig" %}
{% set title="Программа 1С курсов" %}
{% set bread = ['Обучение', 'Программа 1С курсов'] %}

{% block saleInfo %}
	<div class="uk-grid">
		<div class="uk-width-5-6@m">
			<h1>Ведение бухгалтерского учета при применении УСН в 1С:Бухгалтерия 8</h1>
			<div class="sale-info__text">
				<p>Целью данного курса является получение практических навыков работы с программой «1С: Бухгалтерия 8». При составлении данного курса особое внимание уделено специфике учета и отражения в программе тех или иных хозяйственных операций при применении УСН. Кроме того подробно рассматриваются тонкости определения момента признания доходов и расходов в конфигурации.</p>
			</div>

			<div class="horizontal-panel">
				<a href="" class="btn btn--md btn--yellow" role="button">Записаться на курс</a>
			</div>
		</div>
	</div>
{% endblock %}

{% block content %}

	<!-- begin content-group -->
	<section class="content-group uk-margin-large-top">
		<div class="uk-container">
			<div class="content-group__inner">
				<div class="content-group__header">
					<h2 id="results" class="title-h2">
						Условия предоставления сервиса:</h2>
				</div>
				<div class="content-group__body">
					<div class="grid-divider-large grid-divider-large--numeric uk-grid-collapse  uk-child-width-1-2@m" uk-grid>
						<div class="grid-divider-large__row">
							<div class="grid-divider-large__col">
								<p class="big-text">Курс построен на анализе практических примеров, которые охватывают основной документооборот – от введения сведений об организации и справочников до формирования итоговых показателей деятельности фирмы и различных аналитических отчетов</p>
							</div>
						</div>

						<div class="grid-divider-large__row">
							<div class="grid-divider-large__col">
								<p class="big-text">Курс поможет получить четкое представление о структуре конфигурации, правильно использовать богатые возможности программы.</p>
							</div>
						</div>

						<div class="grid-divider-large__row">
							<div class="grid-divider-large__col">
								<p class="big-text">Вам будут даны методические рекомендации по правильной организации учета в системе.</p>
							</div>
						</div>

						<div class="grid-divider-large__row">
							<div class="grid-divider-large__col">
								<p class="big-text">Курс предназначен для начинающих пользователей программного продукта «1С: Бухгалтерия 8», желающих самостоятельно освоить функционал программы</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- end content-group -->

	<!-- begin content-group -->
	<section class="content-group bgGray">
		<div class="uk-container">
			<div class="content-group__inner">
				<div class="content-group__header">
					<h2 class="title-h2">Расписание занятий</h2>
					<a href="" class="content-group__subtitle content-group__subtitle--icon" download>
						<img src="img/media/doc.svg" width="45" height="64" alt="сертификат">
						<span>
							По окончании выдается свидетельство
							<br>
							о прохождении курса по программе
							<br>
							«1С:Бухгалтерия 8».
						</span>
					</a>
				</div>
				<div class="content-group__body">
					<ul class="uk-accordion" uk-accordion>

						<li class="uk-open">
							<a class="uk-accordion-title" href="#">Занятие 1. Введение
								<div class="yellow-tooltip">
									<span>4 часа</span>
								</div>
							</a>
							<div class="uk-accordion-content">
								<ul>
									<li>Начало ведения учета, Учет денежных операций</li>
									<li>Настройка параметров учета</li>
									<li>Ввод информации об организациях</li>
									<li>Настройка учетной политики</li>
									<li>Ввод начальных остатков</li>
									<li>Кассовые операции</li>
									<li>Операции по расчетному счету организации</li>
								</ul>
							</div>
						</li>

						<li>
							<a class="uk-accordion-title" href="#">
								Занятие 2. Особенности учета расчетов с контрагентами, учета ОС и МПЗ при применении УСН.
								<div class="yellow-tooltip">
									<span>6 часов</span>
								</div>
							</a>
							<div class="uk-accordion-content">
								<ul>
									<li>Начало ведения учета, Учет денежных операций</li>
									<li>Настройка параметров учета</li>
									<li>Ввод информации об организациях</li>
									<li>Настройка учетной политики</li>
									<li>Ввод начальных остатков</li>
									<li>Кассовые операции</li>
									<li>Операции по расчетному счету организации</li>
								</ul>
							</div>
						</li>

						<li>
							<a class="uk-accordion-title" href="#">
								Занятие 3. Учет затрат на оплату труда. Регламентные документы и отчетность
								<div class="yellow-tooltip">
									<span>4 часа</span>
								</div>
							</a>
							<div class="uk-accordion-content">
								<ul>
									<li>Начало ведения учета, Учет денежных операций</li>
									<li>Настройка параметров учета</li>
									<li>Ввод информации об организациях</li>
									<li>Настройка учетной политики</li>
									<li>Ввод начальных остатков</li>
									<li>Кассовые операции</li>
									<li>Операции по расчетному счету организации</li>
								</ul>
							</div>
						</li>

					</ul>

				</div>
			</div>
		</div>
	</section>
	<!-- end content-group -->

{% endblock %}

{% block afterContent %}

	<!-- begin promo-section -->
	<section class="promo-section">
		<div class="uk-container">
			<h2 class="title-h2">Подать заявку на курс можно по телефону:
				<a href="+74957862146">+7 (495) 786 21 46</a>
			</h2>

			<a href="#callback-modal" class="btn btn--yellow" uk-toggle>Заказать обратный звонок</a>
		</div>
	</section>
	<!-- end promo-section -->

{% endblock %}
