{% extends "../layouts/sales-page.twig" %}
{% set title="Внедрение 1С:Документооборот 8" %}
{% set bread = ['Внедрение 1С', 'Внедрение 1С:Документооборот 8'] %}

{% block saleInfo %}
	<div class="uk-grid">
		<div class="uk-width-5-6@m">
			<h1>Внедрение 1С:Документооборот 8</h1>
			<div class="sale-info__text">Наша цель помочь Вам добиться повышения рентабельности и управляемости компании за счет автоматизации бизнес-процессов работы с документами. 
																        У нас за плечами более 5 лет успешного опыта внедрения СЭД в организациях, мы отвечаем за качество оказанных услуг.
			</div>

			<div class="horizontal-panel">
				<a href="" class="btn btn--md btn--yellow" role="button">Заказать внедрение</a>
				<div class="text-price">от 200 000 р.</div>
			</div>
		</div>
		<div class="uk-width-1-6@m uk-visible@m">
			<ul class="vertical-anchors-links">
				<li>
					<a href="#steps" uk-scroll="offset: 70">Просто внедрить</a>
				</li>
				<li>
					<a href="#projects" uk-scroll="offset: 70">Проекты</a>
				</li>
				<li>
					<a href="#price" uk-scroll="offset: 70">Стоимость</a>
				</li>
			</ul>
		</div>
	</div>
{% endblock %}

{% block content %}

	<section class="progress-section">

		<div class="uk-container">
			<ul class="progress-list uk-child-width-1-3@m" uk-grid>
				<li class="progress-list__col">
					<div class="progress-list__item">
						<div class="progress-list__img">
							<img src="img/media/doc.svg" width="45" height="64" alt="" loading="lazy">
						</div>
						<div class="progress-list__text">Более 50 уникальных внедрений Документооборот</div>
					</div>
				</li>

				<li class="progress-list__col">
					<div class="progress-list__item">
						<div class="progress-list__img">
							<img src="img/media/pazl.svg" width="75" height="67" alt="" loading="lazy">
						</div>
						<div class="progress-list__text">Более 5 лет опыт внедрения СЭД</div>
					</div>
				</li>

				<li class="progress-list__col">
					<div class="progress-list__item">
						<div class="progress-list__img">
							<img src="img/media/check-list.svg" width="41" height="62" alt="" loading="lazy">
						</div>
						<div class="progress-list__text">Более 450 решенных
							<br>
							локальных задач</div>
					</div>
				</li>
			</ul>
		</div>

	</section>

	<!-- begin content-group -->
	<section class="content-group bgGray">
		<div class="uk-container">
			<div class="content-group__inner">
				<div class="content-group__header">
					<h2 id="steps" class="title-h2">7 простых шагов внедрения</h2>
				</div>
				<div class="content-group__body">
					<div class="vertical-tabs">

						<div class="uk-container">
							<div class="uk-grid uk-grid-collapse">
								<div class="uk-width-1-2@m">
									<ul class="uk-tab-left custom-tab-left" uk-tab="connect: #steps-content">
										<li class="uk-active">
											<a>Принять решение</a>
										</li>
										<li>
											<a>Подписать договор</a>
										</li>
										<li>
											<a>Пройти аудит</a>
										</li>
										<li>
											<a>Утвердить список настроек системы</a>
										</li>
										<li>
											<a>Проверить выполнение работы</a>
										</li>
										<li>
											<a>Пройти обучение</a>
										</li>
										<li>
											<a>Приступить к работе в настроенной системе</a>
										</li>
									</ul>
								</div>
								<div class="uk-width-1-2@m">
									<ul id="steps-content" class="uk-switcher">
										<li>
											<div class="uk-cover-container uk-height-medium uk-margin-medium-bottom">
												<img src="img/media/steps-img.png" alt="" uk-cover>
											</div>
											<p>
												Примите решение автоматизировать документооборот в Вашей компании, пригласите нас для обсуждения деталей внедрения электронного документооборота и подготовки коммерческого предложения, с указанием стоимости работ и сроков реализации проекта.
											</p>
										</li>
										<li>2</li>
										<li>3</li>
										<li>4</li>
										<li>5</li>
										<li>6</li>
										<li>7</li>
									</ul>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- end content-group -->

	<!-- begin content-group -->
	<section class="content-group">
		<div class="uk-container">
			<div class="content-group__inner">
				<div class="content-group__header">
					<h2 class="title-h2">1С:ДОКУМЕНТООБОРОТ
						<br>
						для подразделений компаний</h2>
				</div>
				<div class="content-group__body">
					<div class="grid-divider-large uk-grid-collapse uk-child-width-1-2@s" uk-grid>
						<div class="grid-divider-large__row">
							<div class="grid-divider-large__col">
								<div class="division">
									<div class="division__img">
										<img src="img/media/lawyer.svg" width="185" height="180" alt="юрист" loading="lazy">
									</div>
									<div class="division__role">Юристу</div>
									<div class="division__text">
										<ul>
											<li>Сократит сроки рассмотрения обращений и документов, согласования документов руководством;</li>
											<li>Повысит прозрачность процесса рассмотрения/согласования документов и принятия решений (какие решения приняты, причины согласование или отклонения документов, какие изменения необходимо внести в документ и т.п.);</li>
											<li>Позволит вести историю согласования документов, с сохранением всех редакций;</li>
											<li>Сократит время на поиска документов. Гибкая система поиска документов: поиск по реквизитам, полнотекстовый поиск, в т.ч. по текстам вложенных файлов.</li>
										</ul>
									</div>
								</div>
							</div>
						</div>

						<div class="grid-divider-large__row">
							<div class="grid-divider-large__col">
								<div class="division">
									<div class="division__img">
										<img src="img/media/secretary.svg" width="171" height="181" alt="секретарь" loading="lazy">
									</div>
									<div class="division__role">Секретарю</div>
									<div class="division__text">
										<ul>
											<li>Обеспечит хранения электронных копий документов. Потоковое сканирование атоматизирует загрузку документов базу;</li>
											<li>Система штрих-кодирования упрощает поиск и работу с документами;</li>
											<li>Сократит время на поиск документов. Гибкая система поиска документов: поиск по реквизитам, полнотекстовый поиск, в т.ч. по текстам вложенных файлов.</li>
											<li>Актоматически отправит документы в зависимости от вида документа нужному исполнителю, маршруты документов 1С:Документооборот выибирает согласно прописанному регламенту;</li>
										</ul>
									</div>
								</div>
							</div>
						</div>

						<div class="grid-divider-large__row">
							<div class="grid-divider-large__col">
								<div class="division">
									<div class="division__img">
										<img src="img/media/manager.svg" width="179" height="168" alt="руководитель" loading="lazy">
									</div>
									<div class="division__role">Руководителю</div>
									<div class="division__text">
										<ul>
											<li>Сократит сроки согласования документов;</li>
											<li>Упростить контроль исполнения поставленных задач;</li>
											<li>Сократить время принятия управленческих решений;</li>
											<li>Усилит контроль за загрузкой сотрудников;</li>
											<li>Исключит утерю документов, позволит оперативно искать документы в базе;</li>
											<li>Позволит принимать решения вне офиса, за счет подключения приложения на мобильные устройства.</li>
										</ul>
									</div>
								</div>
							</div>
						</div>

						<div class="grid-divider-large__row">
							<div class="grid-divider-large__col">
								<div class="division">
									<div class="division__img">
										<img src="img/media/financier.svg" width="170" height="174" alt="финансист" loading="lazy">
									</div>
									<div class="division__role">Финансисту</div>
									<div class="division__text">
										<p>1С:Документооборот, как СЭД интересна бухгалтерскому и кадровому отделу благодаря следующим возможностям:</p>
										<ul>
											<li>Снижает издержек и расходы при переводе документов в электронный вид;</li>
											<li>Экономит ресурсы (время и денеги) за счет оперативности в принятии решений;</li>
											<li>Формирует отчетность по этам обработки доекументов в необходимых разрезах.</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- end content-group -->


	<!-- begin content-group -->
	<section class="content-group bgGray">
		<div class="uk-container">
			<div class="content-group__inner">
				<div class="content-group__header">
					<h2 id="projects" class="title-h2">Выполненные проекты</h2>
				</div>
				<div class="content-group__body">
					<div class="solutions-slider content-slider">
						<div class="slider">
							{% for slide in 0..2 %}

								<div class="slide">
									<div class="promo-card">
										<div class="promo-card__title">
											<a href="">Отчет по заказам для 1С:Комплексная автоматизация 8</a>
										</div>
										<div class="promo-card__subtitle">ООО «Московская Тепловая Компания»</div>
										<div class="promo-card__desc">
											<p>Внешний отчет «Отчет по заказам» для 1С:Комплексная автоматизация 8. Отчет выводит информацию по незакрытым (не оплачен/не отгружен полностью) заказам в разрезе контрагентов за период.</p>
										</div>
									</div>
								</div>

								<div class="slide">
									<div class="promo-card">
										<div class="promo-card__title">
											<a href="">Разработка правил обмена между конфигурациями 1C</a>
										</div>
										<div class="promo-card__subtitle">ОАО «Сельэлектросетьстрой»</div>
										<div class="promo-card__desc">
											<ol>
												<li>Разработка правил обмена между конфигурациями 1C: Управление торговлей 11 и 1С: Бухгалтерия предприятия 2.0.</li>
												<li>Разработка внешнего отчета «Платежный календарь».</li>
												<li>Доработка типового отчета «Анализ потребностей товара»</li>
											</ol>
										</div>
									</div>
								</div>

							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- end content-group -->


	<!-- begin content-group -->
	<section class="content-group">
		<div class="uk-container">
			<div class="content-group__inner">
				<div class="content-group__header">
					<h2 id="price" class="title-h2">Стоимость внедрения</h2>
				</div>
				<div class="content-group__body">
					<p>
						Стоимость внедрения 1С:Документооборот зависит от поставленных задач. На цену автоматизации системы электронного документооборота влияет количество подразделений, используемых видов документов, автоматических маршрутов и многое другое. Примерный расчет стоимости внедрения 1С:Документооборот указан в таблице. Для расчета стоимости внедрения СЭД на Вашем предприятии и подготовки адресного коммерческого предложения, позвоните нашему менеджеру.
					</p>

					<div class="uk-overflow-auto uk-margin-medium-bottom">
						<table>
							<thead>
								<tr>
									<th>Наименование продукта</th>
									<th>Период работы</th>
									<th>Стоимость</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td style="width: 50%">
										<div class="medium-bold uppercase">Договор «Лайт»</div>
										Автоматизация 1С:Документооборот 8 в 1 подразделении, создание до 10 видов документов, разработка одного автоматического маршрута.
									</td>
									<td>от 1 месяца</td>
									<td>
										<span class="medium-bold">от 200 000 р.</span>
									</td>
								</tr>
								<tr>
									<td style="width: 50%">
										<div class="medium-bold uppercase">Договор «Классик»</div>
										Автоматизация 1С:Документооборот 8 до 3х подразделении, создание до 30 видов документов, разработка пяти автоматических маршрутов.
									</td>
									<td>от 2 месяцев</td>
									<td>
										<span class="medium-bold">от 400 000 р.</span>
									</td>
								</tr>
								<tr>
									<td style="width: 50%">
										<div class="medium-bold uppercase">Договор «Максимум»</div>
										Автоматизация 1С:Документооборот 8 от 4х подразделений, создание более 30 видов документов, разработка более пяти автоматических маршрутов.
									</td>
									<td>от 3 месяцев</td>
									<td>
										<span class="medium-bold">от 600 000 р.</span>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- end content-group -->


{% endblock %}

{% block afterContent %}

	<!-- begin promo-section -->
	<section class="promo-section">
		<div class="uk-container">
			<h2 class="title-h2">Рассчитайте стоимость внедрения
				<br>
				1С:Документооборот 8
			</h2>

			<a href="#callback-modal" class="btn btn--yellow" uk-toggle>Рассчитать стоимость</a>
		</div>
	</section>
	<!-- end promo-section -->

{% endblock %}
