{% extends "../layouts/sales-page.twig" %}
{% set title="Обновление 1С" %}
{% set bread = ['1С ИТС', 'Обновление 1С'] %}

{% block saleInfo %}
	<div class="uk-grid">
		<div class="uk-width-5-6@m">
			<h1>Обновление 1С</h1>
			<div class="sale-info__text">
				<p class="uk-margin-medium-bottom">Сервис 1С:Обновление программ при заключении договора 1С:ИТС в компании 1С:Франчайзи Виктория включает:</p>
				<ul class="list-left-underline uk-child-width-1-3@m uk-grid uk-margin-large-bottom" uk-grid>
					<li class="list-left-underline__item-wrapper">
						<div class="list-left-underline__item">Доступ к обновлению программ «1С:Предприятие 8» в соответствии с требованиями законодательства, деловой практикой, развитием информационных технологий</div>
					</li>

					<li class="list-left-underline__item-wrapper">
						<div class="list-left-underline__item">Доступ к самостоятельному обновлению программ «1С:Предприятие 8», обновление типовых программ 1С может быть проведено в автоматическом режиме, при подключенном сервисе</div>
					</li>

					<li class="list-left-underline__item-wrapper">
						<div class="list-left-underline__item">Доступ к технологической информации по обновлению 1С (график выхода релизов, информация о планах по наполнению функциональности и исправлению ошибок и т.д.)</div>
					</li>
				</ul>

				<p class="text-yellow medium-text">Выгода: Подключение к сервису 1С:Обновление программ – это возможность получать регулярное сопровождение 1С по минимальной стоимости.</p>
			</div>

			<div class="horizontal-panel">
				<a href="" class="btn btn--md btn--yellow" role="button">Заявка на 1С ИТС</a>
			</div>
		</div>
		<div class="uk-width-1-6@m uk-visible@m">
			<ul class="vertical-anchors-links">
				<li>
					<a href="#results" uk-scroll="offset: 70">Что получите</a>
				</li>
				<li>
					<a href="#products" uk-scroll="offset: 70">Продукты</a>
				</li>
				<li>
					<a href="#auto" uk-scroll="offset: 70">Автоматизация</a>
				</li>
				<li>
					<a href="#buy" uk-scroll="offset: 70">Купить</a>
				</li>
			</ul>
		</div>
	</div>
{% endblock %}

{% block content %}

	<!-- begin content-group -->
	<section class="content-group uk-margin-large-top">
		<div class="uk-container">
			<div class="content-group__inner">
				<div class="content-group__header">
					<h2 id="results" class="title-h2">
						Условия предоставления сервиса:</h2>
				</div>
				<div class="content-group__body">
					<div class="grid-divider-large grid-divider-large--numeric uk-grid-collapse  uk-child-width-1-2@m" uk-grid>
						<div class="grid-divider-large__row">
							<div class="grid-divider-large__col">
								<p class="title-h3">
									При наличии действующего договора 1С:ИТС ПРОФ</p>
								<p class="big-text">Сервис 1С:Обновление программ доступен в полном объеме, включая обновление 1С специалистами нашей компании в соответствие с условиями заключенного договора ИТС без дополнительной оплаты.</p>
							</div>
						</div>

						<div class="grid-divider-large__row">
							<div class="grid-divider-large__col">
								<p class="title-h3">При наличии действующего договора 1С:ИТС Техно</p>
								<p class="big-text">Сервис 1С:Обновление программ доступен в ограниченном объеме. Обновление 1С специалистами нашей компании выполняется за дополнительную плату. Доступ к релизам 1С и самостоятельному обновлению 1С открыт для зарегистрированных программ.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- end content-group -->

	<!-- begin content-group -->
	<section class="content-group bgGray">
		<div class="uk-container">
			<div class="content-group__inner">
				<div class="content-group__header">
					<h2 id="auto" class="title-h2 uk-margin-medium-bottom">Специальное предложение
						<br>
						нашей компании</h2>
				</div>
				<div class="content-group__body">
					<p class="subtitle">Удаленная установка всех промежуточных релизов 1С, выпущенных между выездами специалиста для типовых информационных баз</p>
					<p class="big-text bold-text">от 400 рублей в месяц за 1 базу данных</p>
					<a href="" class="btn btn--yellow">Заявка на 1С ИТС</a>
				</div>
			</div>
		</div>
	</section>
	<!-- end content-group -->

	<!-- begin content-group -->
	<section class="content-group">
		<div class="uk-container">
			<div class="content-group__inner">
				<div class="content-group__header">
					<h2 id="buy" class="title-h2 ">Преимущества подключения к сервису в компании 1С:Франчайзи Виктория</h2>
				</div>
				<div class="content-group__body">
					<div class="uk-child-width-1-2@s uk-child-width-1-3@m uk-child-margin-large-top uk-grid" uk-grid>
						<div class="uk-grid__col">
							<span class="triangle triangle--pos-left-bottom"></span>
							<p class="text-darkblue">1С-Отчетность — дополнительный сервис для клиентов "1С:Франчайзи Виктория", позволяющий максимально упростить взаимоотношения наших клиентов с проверяющими структурами.</p>
						</div>

						<div class="uk-grid__col">
							<span class="triangle triangle--pos-right-bottom"></span>
							<p class="text-darkblue">Для наших клиентов мы бесплатно устанавливаем дополнительные отчеты и доработки, которые помогают сделать работу с 1С еще более удобной.</p>
						</div>

						<div class="uk-grid__col">
							<span class="triangle triangle--pos-left-top"></span>
							<p class="text-darkblue">Вы можете нам доверять. 11 лет работы, 12000 клиентов, 200 сотрудников и стандарт менеджмента качества ISO 9001. Сотрудничать с нами легко и приятно.</p>
						</div>

						<div class="uk-grid__col">
							<span class="triangle triangle--pos-right-bottom"></span>
							<p class="text-darkblue">На обновление приезжают квалифицированные специалисты, умеющие обновлять как типовые, так и нетиповые конфигурации. Кроме того все сотрудники компании, допущенные к сопряжению 1С у наших обладают знаниями бухгалтерского, налогового и кадрового учета.</p>
						</div>

						<div class="uk-grid__col">
							<span class="triangle triangle--pos-left-top"></span>
							<p class="text-darkblue">Наша Компания имеет статус "Центр сопровождения 1С". Все наши клиенты получают услуги в строгом соответствии со стандартом регулярного сопровождения, разработанным фирмой 1С. Для получение услуг 1С:ИТС нас рекомендует фирма 1С.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- end content-group -->

	<!-- begin content-group -->
	<section class="content-group">
		<div class="uk-container">
			<div class="content-group__inner">
				<div class="content-group__header">
					<h2 id="buy" class="title-h2 ">Преимущества подключения к сервису в компании 1С:Франчайзи Виктория</h2>
				</div>
				<div class="content-group__body">
					<div class="grid-divider-large uk-child-width-1-2@m uk-grid" uk-grid>
						<div class="grid-divider-large__row">
							<div class="grid-divider-large__col">
								<ul class="directory-list">
									<li>
										<a href="#" download>Как зарегистрировать программный продукт на сайте portal.1c.ru?</a>
									</li>
									<li>
										<a href="#" download>Как самостоятельно обновить
											<br>
											программу 1С?</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="grid-divider-large__row">
							<div class="grid-divider-large__col">
								<ul class="directory-list">
									<li>
										<a href="#" download>Стоимость договоров ИТС</a>
									</li>
									<li>
										<a href="#" download>Другие сервисы 1С:ИТС</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- end content-group -->

{% endblock %}

{% block afterContent %}

	<!-- begin promo-section -->
	<section class="promo-section">
		<div class="uk-container">
			<h2 class="title-h2">Остались вопросы? Мы перезвоним
				<br>
				и бесплатно проконсультируем!
			</h2>

			<a href="#callback-modal" class="btn btn--yellow" uk-toggle>Заказать обратный звонок</a>
		</div>
	</section>
	<!-- end promo-section -->

{% endblock %}
