{% extends "../layouts/default.twig" %}
{% set title="Новости" %}
{% set bread = ['О компании', 'Новости'] %}

{% block content %}


	<div class="news-detail">
		<div class="uk-container">
			<div class="uk-grid">
				<div class="uk-width-5-6@m">
					<h1>Интернет-курс Ведение учета при применении упрощенной системы налогообложения (УСН) в «1С:Предприятие 8»</h1>


					<div class="underline-title">17 июня 2021</div>
					<p>
						Курс создан специально для тех, кто ведет учет на УСН (Доходы минус расходы 15% с учетом прогрессивной шкалы).
					</p>

					<div class="lead-text">
						Рекомендуется для индивидуальных предпринимателей, которые в 2021 году
						<span class="fill-yellow">переходят с ЕНВД на упрощенную систему налогообложения.</span>
					</div>

					<h4>Цели и задачи:</h4>
					<p>практическое освоение 1С:Бухгалтерии при упрощенной системе налогообложения (УСН). Курс полезен как для начинающих бухгалтеров, так и для специалистов с опытом работы, решивших повысить квалификацию и изучить новые возможности программы.</p>

					<h4>Вы научитесь:</h4>
					<ul>
						<li>делать основные настройки и готовить программу к эксплуатации, в том числе при переходе с ЕНВД на упрощенную систему налогообложения;</li>
						<li>добавлять первичную информацию (контрагентов, номенклатуру, платежные поручения, накладные, акты, авансовые отчеты и т.п.);</li>
						<li>вести документооборот на каждом основном участке учета в программе;</li>
						<li>вести учет доходов и расходов для налогообложения единым налогом по УСН;</li>
						<li>формировать «Книгу учета доходов и расходов», регламентированную отчетность;</li>
						<li>работать с «Экспресс-проверкой», помощниками в программе;</li>
						<li>и многому другому.</li>
					</ul>

					<figure>
						<img src="img/media/content-img-1.png" alt="" loading="lazy">
						<figcaption>Подпись к изображению</figcaption>
					</figure>

					<h4>Преимущества перехода с базовых версий на «1С:Фреш»?</h4>
					<ol>
						<li>Базы будут доступны через интернет с любого компьютера из любой точки мира 24 часа в сутки, 7 дней в неделю;</li>
						<li>В базе могут работать несколько пользователей одновременно и для этого не потребуется переобучение;</li>
						<li>Ваша информация доступна только вам, всё автоматизировано.</li>
					</ol>

					<div class="uk-overflow-auto uk-margin-medium-bottom">
						<table>
							<thead>
								<tr>
									<th>Тарифы</th>
									<th>акция. базовый 12</th>
									<th>акция. базовый 15</th>
									<th>акция. мультибух</th>
								</tr>
							</thead>

							<tbody>
								<tr>
									<td>
										<span class="medium-bold uppercase">Срок доступа</span>
									</td>
									<td>12 месяцев</td>
									<td>15 месяцев</td>
									<td>12 месяцев</td>
								</tr>
								<tr>
									<td>
										<span class="medium-bold uppercase">Кол-во рабочих мест</span>
									</td>
									<td>2</td>
									<td>2</td>
									<td>2</td>
								</tr>
								<tr>
									<td>
										<span class="medium-bold uppercase">Программы
											<br>(базовые версии)</span>
									</td>
									<td>
										<div>Лицензии 1С:Предприятие 8</div>
										<div>1С:Бухгалтерия 8</div>
										<div>1С:Зарплата и Управление Персоналом 8</div>
										<div>1С:Управление Торговлей</div>
										<div>1С Комплексная Автоматизация 8</div>
										<div>1С:Управление нашей
										</div>
										<div>фирмой 8</div>
										<div>1С:Предприятие 8 CRM</div>
										<div>1С:Документооборот 8</div>
										<div>1С:Управление по целям и KPI</div>
										<div>1С: ERP Управление предприятием 2</div>
									</td>
									<td>
										<div>Лицензии 1С:Предприятие 8</div>
										<div>1С:Бухгалтерия 8</div>
										<div>1С:Зарплата и Управление Персоналом 8</div>
										<div>1С:Управление Торговлей</div>
										<div>1С Комплексная Автоматизация 8</div>
										<div>1С:Управление нашей
										</div>
										<div>фирмой 8</div>
										<div>1С:Предприятие 8 CRM</div>
										<div>1С:Документооборот 8</div>
										<div>1С:Управление по целям и KPI</div>
										<div>1С: ERP Управление предприятием 2</div>
									</td>
									<td>1С:Бухгалтерия 8</td>
								</tr>
							</tbody>
						</table>
					</div>

					<p>Стоимость доступа к полной версии интернет-курса составляет 2100 рублей для одного слушателя</p>
					<p>
						Для ознакомления доступна
						<a href="">бесплатная версия</a>
						интернет-курса (3 из 72 видеоуроков)
						<br>
						По всем вопросам можно обратиться к менеджеру нашей компании по телефону
						<a href="tel:+74957862146">8 (495) 786-21-46</a>
					</p>

					<a href="" class="btn btn--yellow">Попробовать бесплатную версию</a>


				</div>
				<div class="uk-width-1-6@m uk-visible@m">
					<aside class="right-sidebar">
						<a href="" class="right-sidebar__title">Все новости</a>
						<ul class="news-dates">
							<li class="news-dates__item">
								<div class="news-dates__year">
									<a href="#" class="js__toggle-hidden-block">2021</a>
								</div>
								<div class="news-dates__months open hidden-block">
									<div class="news-dates__month"></div>
									<div class="news-dates__month">
										<a href="#">Январь</a>
									</div>
									<div class="news-dates__month">
										<a href="#">Февраль</a>
									</div>
									<div class="news-dates__month">
										<a href="#">Март</a>
									</div>
									<div class="news-dates__month">
										<a href="#">Апрель</a>
									</div>
									<div class="news-dates__month">
										<a href="#">Май</a>
									</div>
									<div class="news-dates__month">
										<a href="#">Июнь</a>
									</div>
									<div class="news-dates__month">
										<a href="#">Июль</a>
									</div>
									<div class="news-dates__month">
										<span>Август</span>
									</div>
									<div class="news-dates__month">
										<span>Сентябрь</span>
									</div>
									<div class="news-dates__month">
										<span>Октябрь</span>
									</div>
									<div class="news-dates__month">
										<span>Ноябрь</span>
									</div>
									<div class="news-dates__month">
										<span>Декабрь</span>
									</div>
								</div>
							</li>

							<li class="news-dates__item">
								<div class="news-dates__year">
									<a href="#" class="js__toggle-hidden-block">2020</a>
								</div>
								<div class="news-dates__months hidden-block">
									<div class="news-dates__month"></div>
									<div class="news-dates__month">
										<a href="#">Январь</a>
									</div>
									<div class="news-dates__month">
										<a href="#">Февраль</a>
									</div>
									<div class="news-dates__month">
										<a href="#">Март</a>
									</div>
									<div class="news-dates__month">
										<a href="#">Апрель</a>
									</div>
									<div class="news-dates__month">
										<a href="#">Май</a>
									</div>
									<div class="news-dates__month">
										<a href="#">Июнь</a>
									</div>
									<div class="news-dates__month">
										<a href="#">Июль</a>
									</div>
									<div class="news-dates__month">
										<a href="#">Август</a>
									</div>
									<div class="news-dates__month">
										<a href="#">Сентябрь</a>
									</div>
									<div class="news-dates__month">
										<a href="#">Октябрь</a>
									</div>
									<div class="news-dates__month">
										<a href="#">Ноябрь</a>
									</div>
									<div class="news-dates__month">
										<a href="#">Декабрь</a>
									</div>
								</div>
							</li>

							<li class="news-dates__item">
								<div class="news-dates__year">
									<a href="#" class="js__toggle-hidden-block">2019</a>
								</div>
								<div class="news-dates__months hidden-block">
									<div class="news-dates__month"></div>
									<div class="news-dates__month">
										<a href="#">Январь</a>
									</div>
									<div class="news-dates__month">
										<a href="#">Февраль</a>
									</div>
									<div class="news-dates__month">
										<a href="#">Март</a>
									</div>
									<div class="news-dates__month">
										<a href="#">Апрель</a>
									</div>
									<div class="news-dates__month">
										<a href="#">Май</a>
									</div>
									<div class="news-dates__month">
										<a href="#">Июнь</a>
									</div>
									<div class="news-dates__month">
										<a href="#">Июль</a>
									</div>
									<div class="news-dates__month">
										<a href="#">Август</a>
									</div>
									<div class="news-dates__month">
										<a href="#">Сентябрь</a>
									</div>
									<div class="news-dates__month">
										<a href="#">Октябрь</a>
									</div>
									<div class="news-dates__month">
										<a href="#">Ноябрь</a>
									</div>
									<div class="news-dates__month">
										<a href="#">Декабрь</a>
									</div>
								</div>
							</li>
						</ul>
					</aside>
				</div>
			</div>
		</div>
	</div>

	{% include "../includes/partials/news-slider.twig" %}

{% endblock %}
