{% extends "../layouts/default.twig" %}
{% set title="Обучение" %}
{% set bread = ['Главная', 'Обучение'] %}

{% block content %}

	<div class="gray-wrapper">
		<div class="uk-container">
			<h1>Обучение</h1>
			<div class="lead-text">
				Компания 1С:Франчайзи Виктория предлагает всем пользователям 1С
				<span class="fill-yellow">повысить уровень своих знаний и эффективность работы при помощи курсов</span>
				«Обучение 1С». Вы можете выбрать подходящий формат обучения: типовые (групповые) курсы или
				<span class="fill-yellow">индивидуальное обучение</span>. Распределение рабочего времени при этом одинаковое: 20% времени отводится на изучение теории, 80% – практические занятия.
			</div>

			<div class="grid-divider-large uk-child-width-1-3@m uk-grid-collapse" uk-grid>
				<div class="grid-divider-large__row">
					<div class="grid-divider-large__col">
						<a href="" class="big-text icon-chevron-right icon-position-center">Курсы 1С</a>
					</div>
				</div>
				<div class="grid-divider-large__row">
					<div class="grid-divider-large__col">
						<a href="" class="big-text icon-chevron-right icon-position-center">Индивидуальное обучение</a>
					</div>
				</div>
				<div class="grid-divider-large__row">
					<div class="grid-divider-large__col">
						<a href="" class="big-text icon-chevron-right icon-position-center">Программы обучения</a>
					</div>
				</div>
			</div>

		</div>
	</div>

	<section class="courses-cards">
		<div class="uk-container">
			<div class="grid-divider-large uk-child-width-1-2@m uk-grid-collapse" uk-grid>
				<div class="grid-divider-large__row">
					<div class="grid-divider-large__col">
						<div class="course-card">
							<div class="course-card__body">
								<div class="title-h3">Типовые курсы</div>
								<p class="big-text">В группе работает от 6 слушателей, но не более 15, чтобы преподаватель мог каждому уделить время и ответить на вопросы.</p>
								<div class="title-h4">Преимущества типовых курсов:</div>
								<ul>
									<li>В процессе обучения Вы общаетесь с коллегами и делитесь практическим опытом</li>
									<li>Возможность найти новых бизнес-партнеров</li>
									<li>Цена обучения – доступна каждому</li>
								</ul>
							</div>

							<div class="course-card__footer">
								<a href="" class="btn">Узнать больше</a>
							</div>
						</div>
					</div>
				</div>

				<div class="grid-divider-large__row">
					<div class="grid-divider-large__col">
						<div class="course-card">
							<div class="course-card__body">
								<div class="title-h3">Индивидуальное обучение</div>
								<p class="big-text">Преподаватель лично общается со слушателем курса и разрабатывает персональную программу обучения, в соответствии со сферой деятельности клиента.</p>
								<div class="title-h4">Преимущества индивидуального обучения:</div>
								<ul>
									<li>Программа курса составляется отдельно для каждого слушателя, в соответствии с его пожеланиями</li>
									<li>Преподаватель уделяет внимание только вопросам слушателя, за счет чего продолжительность обучения может быть меньше</li>
									<li>Удобный график и темп работы</li>
								</ul>
								<p>Специалисты компании 1С:Франчайзи Виктория специально разработали программы, ориентированные на любой уровень подготовки пользователей 1С, чтобы обучение прошло максимально эффективно и для новичков, и для опытных пользователей 1С.</p>

							</div>
							<div class="course-card__footer">
								<a href="" class="btn">Узнать больше</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>


	<!-- begin content-group -->
	<section class="content-group bgGray">
		<div class="uk-container">
			<div class="content-group__inner">
				<div class="content-group__header">
					<h2 class="title-h2 ">Мы предлагаем Вам:</h2>
				</div>
				<div class="content-group__body">
					<div class="uk-child-width-1-2@s uk-child-width-1-3@m uk-child-margin-large-top uk-margin-large-bottom uk-grid" uk-grid>
						<div class="uk-grid__col">
							<span class="triangle triangle--pos-right-bottom"></span>
							<p class="text-darkblue">Эффективные методики обучения, проверенные на практике</p>
						</div>

						<div class="uk-grid__col">
							<span class="triangle triangle--pos-left-top"></span>
							<p class="text-darkblue">Проведение курсов в просторных аудиториях на индивидуальных ПК</p>
						</div>

						<div class="uk-grid__col uk-visible@m"></div>

						<div class="uk-grid__col uk-visible@m"></div>

						<div class="uk-grid__col">
							<span class="triangle triangle--pos-right-top"></span>
							<p class="text-darkblue">Работу с сертифицированными методическими материалами</p>
						</div>

						<div class="uk-grid__col">
							<span class="triangle triangle--pos-left-bottom"></span>
							<p class="text-darkblue">Выдачу сертификатов или свидетельств
								<br>
								(в зависимости от выбранного курса)по окончанию обучения</p>
						</div>
					</div>

					<h3 class="title-h3">Высокий уровень подготовки специалистов</h3>

					<div class="grid-divider-large uk-child-width-1-2@m uk-grid-collapse" uk-grid>
						<div class="grid-divider-large__row">
							<div class="grid-divider-large__col">
								<ul class="list-bottom-underline">
									<li>
										<a>Ведение бухгалтерского учета в 1С:Бухгалтерия 8</a>
									</li>
									<li>
										<a>Ведение бухгалтерского учета при применении УСН</a>
									</li>
									<li>
										<a>Управление производством в 1С</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="grid-divider-large__row">
							<div class="grid-divider-large__col">
								<ul class="list-bottom-underline">
									<li>
										<a>1С:Зарплата и Управление Персоналом 8</a>
									</li>
									<li>
										<a>1С:Управление торговлей 8</a>
									</li>
									<li>
										<a>1С:Комплексная автоматизация типовая конструкция</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- end content-group -->


{% endblock %}

{% block afterContentBlock %}

	<!-- begin promo-section -->
	<section class="promo-section">
		<div class="uk-container">
			<h2 class="title-h2">Подать заявку на курс можно по телефону:
				<br>
				+7 (495) 786 21 46
			</h2>

			<a href="#callback-modal" class="btn btn--yellow" uk-toggle>Заказать обратный звонок</a>
		</div>
	</section>
	<!-- end promo-section -->

{% endblock %}
