{% extends "../layouts/default.twig" %}
{% set title="Наши проекты" %}
{% set bread = ['Внедрение 1С', 'Наши проекты'] %}

{% block content %}

	<div class="gray-wrapper">
		<div class="uk-container">
			<h1>Наши проекты</h1>
			<div class="lead-text">
				Наша компания
				<span class="fill-yellow">успешно выполнила большое количество проектов</span>
				в различных областях. Описания наиболее интересных проектов мы размещаем на этой странице, а также публикуем на сайте 1С в специально отведенном разделе «Внедренные решения».
			</div>
		</div>
	</div>

	<section class="projects-section">
		<div class="uk-container">
			<div class="grid-divider-large uk-child-width-1-2@s uk-child-width-1-3@m uk-grid-collapse uk-margin-large-bottom" uk-grid uk-scrollspy="target: .project-card; cls: uk-animation-fade; delay: 300;">
				<div class="grid-divider-large__row">
					<div class="grid-divider-large__col">
						<article class="project-card">
							<header class="project-card__header">
								<a href="" class="project-card__title">ФБ Инноваций и развития</a>
								<picture class="project-card__img">
									<source srcset="img/media/webp/project-list-img-1.webp" type="image/webp">
									<source srcset="img/media/project-list-img-1.jpg" type="image/jpg">
									<img src="img/media/project-list-img-1.jpg" alt="" loading="lazy">
								</picture>
								<div class="project-card__fill-subtitle">
									<span>1С: Комплексная Автоматизация 8</span>
								</div>

							</header>
							<section class="project-card__body">
								<div class="project-card__timework">
									Длительность работ:
									<span>6 месяцев</span>
								</div>
								<div class="project-card__desc">
									Акционерный Коммерческий Федеральный Банк Инноваций и Развития оказывает полный комплекс банковских услуг, отвечающих требованиям современного уровня банковского сервиса.
								</div>
								<a href="" class="read-more">Подробнее</a>
							</section>
						</article>
					</div>
				</div>

				<div class="grid-divider-large__row">
					<div class="grid-divider-large__col">
						<article class="project-card">
							<header class="project-card__header">
								<a href="" class="project-card__title">ООО КПФ «МИЛОРАДА»</a>
								<picture class="project-card__img">
									<source srcset="img/media/webp/project-list-img-2.webp" type="image/webp">
									<source srcset="img/media/project-list-img-2.jpg" type="image/jpg">
									<img src="img/media/project-list-img-2.jpg" alt="" loading="lazy">
								</picture>
								<div class="project-card__fill-subtitle">
									<span>автоматизированная система
									</span>
									<span>1С: Предприятия на базе решений
									</span>
									<span>
										«1С:Предприятие 8. ERP Управление
										<br>
										предприятием»
									</span>
								</div>

							</header>
							<section class="project-card__body">
								<div class="project-card__timework">
									Длительность работ:
									<span>10 месяцев</span>
								</div>
								<div class="project-card__desc">
									Акционерный Коммерческий Федеральный Банк Инноваций и Развития оказывает полный комплекс банковских услуг, отвечающих требованиям современного уровня банковского сервиса.
								</div>
								<a href="" class="read-more">Подробнее</a>
							</section>
						</article>
					</div>
				</div>

				<div class="grid-divider-large__row">
					<div class="grid-divider-large__col">
						<article class="project-card">
							<header class="project-card__header">
								<a href="" class="project-card__title">ООО «Аэро-Фуд Кейтеринг»</a>
								<picture class="project-card__img">
									<source srcset="img/media/webp/project-list-img-3.webp" type="image/webp">
									<source srcset="img/media/project-list-img-3.jpg" type="image/jpg">
									<img src="img/media/project-list-img-3.jpg" alt="" loading="lazy">
								</picture>
								<div class="project-card__fill-subtitle">
									<span>1С: Комплексная Автоматизация 8</span>
								</div>

							</header>
							<section class="project-card__body">
								<div class="project-card__timework">
									Длительность работ:
									<span>12 месяцев</span>
								</div>
								<div class="project-card__desc">
									ООО «Аэро-Фуд Кейтеринг» предоставляет сервисные услуги авиакомпаниям, занимается производством, разработкой рационов, обеспечивает доставку, загрузку бортового питания, а также, разгрузкой неиспользованного продукта для дальнейшей обработки.
								</div>
								<a href="" class="read-more">Подробнее</a>
							</section>
						</article>
					</div>
				</div>

				<div class="grid-divider-large__row">
					<div class="grid-divider-large__col">
						<article class="project-card">
							<header class="project-card__header">
								<a href="" class="project-card__title">ООО КПФ «МИЛОРАДА»</a>
								<picture class="project-card__img">
									<source srcset="img/media/webp/project-list-img-4.webp" type="image/webp">
									<source srcset="img/media/project-list-img-4.jpg" type="image/jpg">
									<img src="img/media/project-list-img-4.jpg" alt="" loading="lazy">
								</picture>
								<div class="project-card__fill-subtitle">
									<span>автоматизированная система
									</span>
									<span>1С: Предприятия на базе решений
									</span>
									<span>«1С:Предприятие 8. ERP Управление
										<br>
										предприятием»
									</span>
								</div>

							</header>
							<section class="project-card__body">
								<div class="project-card__timework">
									Длительность работ:
									<span>10 месяцев</span>
								</div>
								<div class="project-card__desc">
									Акционерный Коммерческий Федеральный Банк Инноваций и Развития оказывает полный комплекс банковских услуг, отвечающих требованиям современного уровня банковского сервиса.
								</div>
								<a href="" class="read-more">Подробнее</a>
							</section>
						</article>
					</div>
				</div>

				<div class="grid-divider-large__row">
					<div class="grid-divider-large__col">
						<article class="project-card">
							<header class="project-card__header">
								<a href="" class="project-card__title">ФБ Инноваций и развития</a>
								<picture class="project-card__img">
									<source srcset="img/media/webp/project-list-img-5.webp" type="image/webp">
									<source srcset="img/media/project-list-img-5.jpg" type="image/jpg">
									<img src="img/media/project-list-img-5.jpg" alt="" loading="lazy">
								</picture>
								<div class="project-card__fill-subtitle">
									<span>1С: Комплексная Автоматизация 8</span>
								</div>

							</header>
							<section class="project-card__body">
								<div class="project-card__timework">
									Длительность работ:
									<span>6 месяцев</span>
								</div>
								<div class="project-card__desc">
									Акционерный Коммерческий Федеральный Банк Инноваций и Развития оказывает полный комплекс банковских услуг, отвечающих требованиям современного уровня банковского сервиса.
								</div>
								<a href="" class="read-more">Подробнее</a>
							</section>
						</article>
					</div>
				</div>

				<div class="grid-divider-large__row">
					<div class="grid-divider-large__col">
						<article class="project-card">
							<header class="project-card__header">
								<a href="" class="project-card__title">ООО «Аэро-Фуд Кейтеринг»</a>
								<picture class="project-card__img">
									<source srcset="img/media/webp/project-list-img-6.webp" type="image/webp">
									<source srcset="img/media/project-list-img-6.jpg" type="image/jpg">
									<img src="img/media/project-list-img-6.jpg" alt="" loading="lazy">
								</picture>
								<div class="project-card__fill-subtitle">
									<span>1С: Комплексная Автоматизация 8</span>
								</div>

							</header>
							<section class="project-card__body">
								<div class="project-card__timework">
									Длительность работ:
									<span>6 месяцев</span>
								</div>
								<div class="project-card__desc">
									Акционерный Коммерческий Федеральный Банк Инноваций и Развития оказывает полный комплекс банковских услуг, отвечающих требованиям современного уровня банковского сервиса.
								</div>
								<a href="" class="read-more">Подробнее</a>
							</section>
						</article>
					</div>
				</div>
			</div>

			<a href="" class="btn btn--full-width uk-margin-large-bottom">Показать еще</a>

			{% include "../includes/components/pagination.twig" %}
		</div>
	</section>

{% endblock %}
