{% extends "../layouts/default.twig" %}
{% set title="Отзывы" %}
{% set bread = ['О компании', 'Отзывы'] %}

{% block content %}

	<!-- begin reviews-section -->
	<section class="reviews-section">

		<div class="gray-wrapper">
			<div class="uk-container">
				<h1>Отзывы</h1>
				<div class="lead-text">
					Наша компания успешно прошла сертификационный аудит на соответствие
					<span class="fill-yellow">системы менеджмента качества международному стандарту ISO 9001.</span>
					Наличие сертификата свидетельствует, что компания хорошо организована, в ней четко распределены обязанности, процедуры,
					<span class="fill-yellow">соблюдается технология работы,</span>
					имеются оперативные инструкции, документированные и известные всему персоналу, существуют
					<span class="fill-yellow">отработанные процедуры контроля выполняемых работ</span>
					и, конечно, профессиональный и хорошо обученный персонал, способный качественно выполнять свою работу.
				</div>
			</div>
		</div>

		<div class="uk-container">

			<ul class="reviews-list">

				<li class="reviews-list__row">
					<div class="reviews-list__item">
						<div class="uk-grid">
							<div class="uk-width-1-2@m">
								<div class="review-card">
									<div class="review-card__img" uk-lightbox>
										<a href="img/media/review-1.png">
											<img src="img/media/review-1.png" alt="" loading="lazy">
										</a>
									</div>

									<div class="review-card__desc">
										<div class="review-card__title">ООО "ОСНОВА"</div>
										<div class="review-card__text">ООО "ОСНОВА" выражает благодарность специалистам ООО "1С:Франчайзи Виктория" за доброжелательность и высокий профессионализм в работе, за быстродействие ...</div>
										<div class="small-title">Использованные программные продукты:</div>
										<ul class="products-list">
											<li>
												<a href="">1С CRM</a>
											</li>
											<li>
												<a href="">1С Упрощенка 8</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="uk-width-1-2@m">
								<div class="review-card">
									<div class="review-card__img" uk-lightbox>
										<a href="img/media/review-2.png">
											<img src="img/media/review-2.png" alt="">
										</a>
									</div>

									<div class="review-card__desc">
										<div class="review-card__title">ООО "Р-Пластик"</div>
										<div class="review-card__text">Наша организация ООО "Р-Пластик" сотрудничает с Вашей фирмой более полутора лет и за это время хотелось бы высказать большое спасибо сотрудникам горячей линии.</div>
										<div class="small-title">Использованные программные продукты:</div>
										<ul class="products-list">
											<li>
												<a href="">1С Зарплата и управление персоналом 8</a>
											</li>
											<li>
												<a href="">1С Консолидация</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</li>

				<li class="reviews-list__row">
					<div class="reviews-list__item">
						<div class="uk-grid">
							<div class="uk-width-1-2@m">
								<div class="review-card">
									<div class="review-card__img" uk-lightbox>
										<a href="img/media/review-3.png">
											<img src="img/media/review-3.png" alt="">
										</a>
									</div>

									<div class="review-card__desc">
										<div class="review-card__title">ООО "ПОЛИКАРП"</div>
										<div class="review-card__text">
											ООО "ПОЛИКАРП" пользуется услугами Вашей компании по сопровождению бухгалтерской программы "1С:Предприятие" и "Зарплата и Кадры" с апреля 2012 года.</div>
										<div class="small-title">Использованные программные продукты:</div>
										<ul class="products-list">
											<li>
												<a href="">1С CRM</a>
											</li>
											<li>
												<a href="">1С Упрощенка 8</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="uk-width-1-2@m">
								<div class="review-card">
									<div class="review-card__img" uk-lightbox>
										<a href="img/media/review-4.png">
											<img src="img/media/review-4.png" alt="">
										</a>
									</div>

									<div class="review-card__desc">
										<div class="review-card__title">ООО "ФЛАГМАН"</div>
										<div class="review-card__text">ООО "ФЛАГМАН" более полугода работает с ООО "1С:Франчайзи Виктория" и хотелось бы выразить свою благодарность специалистам компании за высокий уровень профессионализма</div>
										<div class="small-title">Использованные программные продукты:</div>
										<ul class="products-list">
											<li>
												<a href="">1С Зарплата и управление персоналом 8</a>
											</li>
											<li>
												<a href="">1С Консолидация</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</li>


				<li class="reviews-list__row">
					<div class="reviews-list__item">
						<div class="uk-grid">
							<div class="uk-width-1-2@m">
								<div class="review-card">
									<div class="review-card__img" uk-lightbox>
										<a href="img/media/review-5.png">
											<img src="img/media/review-5.png" alt="">
										</a>
									</div>

									<div class="review-card__desc">
										<div class="review-card__title">ЗАО "АСТ"</div>
										<div class="review-card__text">Настоящим, ЗАО "АСТ" в лице Главного бухгалтера - Ланиной Л.Н. хочет поблагодарить программистов компании. Высоко оценить их работу по причинам: легкость в общении и понимании ими, что нужно Заказчику, оперативность решения,...</div>
										<div class="small-title">Использованные программные продукты:</div>
										<ul class="products-list">
											<li>
												<a href="">1С CRM</a>
											</li>
											<li>
												<a href="">1С Упрощенка 8</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="uk-width-1-2@m">
								<div class="review-card">
									<div class="review-card__img" uk-lightbox>
										<a href="img/media/review-6.png">
											<img src="img/media/review-6.png" alt="">
										</a>
									</div>

									<div class="review-card__desc">
										<div class="review-card__title">ФГКУ "Редакционно-издательский центр" Министерства обороны РФ</div>
										<div class="review-card__text">ФГКУ "Редакционно-издательский центр" Министерства обороны РФ является пользователем услуг по сопровождению программы 1С:Бухгалтерия с 2013 года.</div>
										<div class="small-title">Использованные программные продукты:</div>
										<ul class="products-list">
											<li>
												<a href="">1С Зарплата и управление персоналом 8</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</li>

			</ul>

			<a href="" class="btn btn--full-width uk-margin-large-bottom" role="button">Показать еще</a>

			{% include "../includes/components/pagination.twig" %}
		</div>
	</section>
	<!-- end reviews-section -->

{% endblock %}
