@font-face {
  font-family: "Intes";
  src: url("../fonts/intes/intes-regular.woff2") format("woff2"),
    url("../fonts/intes/intes-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Intes";
  src: url("../fonts/intes/intes-medium.woff2") format("woff2"),
    url("../fonts/intes/intes-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Intes";
  src: url("../fonts/intes/intes-bold.woff2") format("woff2"),
    url("../fonts/intes/intes-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
