$mob-xs: 0px;
$mob-s: 640px;
$tablet-w: 960px;
$desk-w: 1200px;

$mainFont: "Intes";
$fontSize: 18px;
$lineHeight: 24px;

$black: #010104;
$darkBlue: #0033a1;
$blue: #0c42d9;
$green: #34a100;
$yellow: #ffdb21;
$white: #ffffff;
$gray: #c9c9cf;
$bgGray: #f7f8fa;
$textColor: #4c4c51;
$containerWidth: 1440px;
$gutter: 20px;
$error: #eb5757;
