<ul class="uk-accordion" uk-accordion>
	{% for titles in accordionTitles %}
		<li>
			<a class="uk-accordion-title" href="#">{{titles}}</a>
			<div class="uk-accordion-content">
				<p>В программе реализована отправка на печать нескольких однотипных документов. Для этого необходимо в списке документов выделить те, которые требуется распечатать и нажать кнопку «Печать». Выделить можно как весь список, так и отдельные документы в списке по средствам сочетания CTRL, CTRL+A (выделить все документы)</p>
				<a href="">Подробнее</a>
			</div>
		</li>
	{% endfor %}
</ul>
