<div class="calc-control">
	<span class="minus" role="button">
		{{mixins.icon('30px','30px','minus-blue')}}
	</span>
	<input type="text" class="calc-control__value" value="1">
	<span class="plus" role="button">
		{{mixins.icon('30px','30px','plus-blue')}}
	</span>
</div>
