<div class="dropdown-panel uk-hidden@m">
	<div class="dropdown-panel__title">
		<span class="js__toggle-hidden-block">Все новости</span>
	</div>
	<div class="dropdown-panel__content hidden-block">
		<div class="news-dates-column">
			<ul class="news-dates">
				<li class="news-dates__item">
					<div class="news-dates__year">
						<a href="#" class="js__toggle-hidden-block">2021</a>
					</div>
					<div class="news-dates__months hidden-block">
						<div class="news-dates__month"></div>
						<div class="news-dates__month">
							<a href="#">Январь</a>
						</div>
						<div class="news-dates__month">
							<a href="#">Февраль</a>
						</div>
						<div class="news-dates__month">
							<a href="#">Март</a>
						</div>
						<div class="news-dates__month">
							<a href="#">Апрель</a>
						</div>
						<div class="news-dates__month">
							<a href="#">Май</a>
						</div>
						<div class="news-dates__month">
							<a href="#">Июнь</a>
						</div>
						<div class="news-dates__month">
							<a href="#">Июль</a>
						</div>
						<div class="news-dates__month">
							<span>Август</span>
						</div>
						<div class="news-dates__month">
							<span>Сентябрь</span>
						</div>
						<div class="news-dates__month">
							<span>Октябрь</span>
						</div>
						<div class="news-dates__month">
							<span>Ноябрь</span>
						</div>
						<div class="news-dates__month">
							<span>Декабрь</span>
						</div>
					</div>
				</li>

				<li class="news-dates__item">
					<div class="news-dates__year">
						<a href="#" class="js__toggle-hidden-block">2020</a>
					</div>
					<div class="news-dates__months hidden-block">
						<div class="news-dates__month"></div>
						<div class="news-dates__month">
							<a href="#">Январь</a>
						</div>
						<div class="news-dates__month">
							<a href="#">Февраль</a>
						</div>
						<div class="news-dates__month">
							<a href="#">Март</a>
						</div>
						<div class="news-dates__month">
							<a href="#">Апрель</a>
						</div>
						<div class="news-dates__month">
							<a href="#">Май</a>
						</div>
						<div class="news-dates__month">
							<a href="#">Июнь</a>
						</div>
						<div class="news-dates__month">
							<a href="#">Июль</a>
						</div>
						<div class="news-dates__month">
							<a href="#">Август</a>
						</div>
						<div class="news-dates__month">
							<a href="#">Сентябрь</a>
						</div>
						<div class="news-dates__month">
							<a href="#">Октябрь</a>
						</div>
						<div class="news-dates__month">
							<a href="#">Ноябрь</a>
						</div>
						<div class="news-dates__month">
							<a href="#">Декабрь</a>
						</div>
					</div>
				</li>

				<li class="news-dates__item">
					<div class="news-dates__year">
						<a href="#" class="js__toggle-hidden-block">2019</a>
					</div>
					<div class="news-dates__months hidden-block">
						<div class="news-dates__month"></div>
						<div class="news-dates__month">
							<a href="#">Январь</a>
						</div>
						<div class="news-dates__month">
							<a href="#">Февраль</a>
						</div>
						<div class="news-dates__month">
							<a href="#">Март</a>
						</div>
						<div class="news-dates__month">
							<a href="#">Апрель</a>
						</div>
						<div class="news-dates__month">
							<a href="#">Май</a>
						</div>
						<div class="news-dates__month">
							<a href="#">Июнь</a>
						</div>
						<div class="news-dates__month">
							<a href="#">Июль</a>
						</div>
						<div class="news-dates__month">
							<a href="#">Август</a>
						</div>
						<div class="news-dates__month">
							<a href="#">Сентябрь</a>
						</div>
						<div class="news-dates__month">
							<a href="#">Октябрь</a>
						</div>
						<div class="news-dates__month">
							<a href="#">Ноябрь</a>
						</div>
						<div class="news-dates__month">
							<a href="#">Декабрь</a>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>
