<ul class="uk-pagination uk-flex-center">
  <li class="prev"><a href="#">Предыдущая</a></li>
  <li class="uk-active"><span>01</span></li>
  <li><a href="#">02</a></li>
  <li><a href="#">03</a></li>
  <li><a href="#">04</a></li>
  <li class="uk-disabled"><span>...</span></li>
  <li><a href="#">14</a></li>
  <li class="next"><a href="#">Следующая</a></li>
</ul>
