<!-- begin tariff-calc-section -->
<section class="tariff-calc-section">
	<div class="uk-container">
		<div class="tariff-calc-section__inner">
			<div class="title-h2">Посчитайте, во сколько вам обойдется использование 1С в облаке</div>

			<div class="tariff-calc">
				<div class="tariff-calc__group">
					<div class="slider-wrapper">
						<div class="slider-label">
							<div class="slider-label__text">Количество пользователей:</div>
							<div class="slider-label__value user">
								<span class="val">4</span>
							</div>
						</div>
						<div id="ui-slider-1"></div>
					</div>
					<div class="checkbox-wrapper">
						<label for="rdp" class="custom-checkbox-wrapper">
							<input id="rdp" type="checkbox" checked="true">
							<span class="checkbox-title">Доступ по RDP</span>
							<span class="custom-checkbox"></span>
						</label>
					</div>
				</div>
				<div class="tariff-calc__group">
					<div class="slider-wrapper">
						<div class="slider-label">
							<div class="slider-label__text">Объемы диска под базы:</div>
							<div class="slider-label__value sql">
								<span class="val">25</span>
								<div>Гб</div>
							</div>
						</div>
						<div id="ui-slider-2"></div>
					</div>
					<div class="checkbox-wrapper">
						<label for="sql" class="custom-checkbox-wrapper">
							<input id="sql" type="checkbox">
							<span class="checkbox-title">Режим SQL</span>
							<span class="custom-checkbox"></span>
						</label>
					</div>
				</div>

				<div class="tariff-calc__bottom">
					<div class="uk-grid">
						<div class="uk-width-1-2@s">
							<div class="total-price">
								<div class="total-price__value"></div>/ в месяц
							</div>
						</div>
						<div class="uk-width-1-2@s">
							<a href="" class="btn btn--yellow btn--full-width">Попробовать 15 дней бесплатно</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- end tariff-calc-section -->
