.products-list {
  @include list-reset();
  margin-bottom: 0 !important;
  li {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 20px;
    list-style: none;
    @media (min-width: $tablet-w) {
      font-size: 18px;
      line-height: 21px;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }

  a {
    color: $darkBlue;
  }
}
