<div id="callback-modal" class="modal-default" uk-modal>

	<div class="uk-modal-dialog">
		<div class="uk-container">
			<div class="uk-modal-header">
				<button class="uk-modal-close" type="button" uk-close></button>
			</div>
			<div class="uk-modal-body">
				<div class="uk-grid">
					<div class="uk-width-1-2@m">
						<div class="vertical-box">
							<div class="title-h2">Задать вопрос</div>
							<div class="uk-visible@m">
								<div class="gray-subtitle">* - поля обязательные для заполнения</div>
								<div class="politics">
									Нажимая на кнопку Оформить,<br>
									я даю согласие на обработку
									<a href="">персональных данных</a>
								</div>
							</div>
						</div>
					</div>
					<div class="uk-width-1-2@m">
						<form action="" class="default-form">
							<div class="form-row">
								<label for="user-name">Ваше имя</label>
								<input type="text" id="user-name" name="user-name" placeholder="Иванов Иван">
							</div>
							<div class="form-row">
								<label for="user-tel">Телефон
									<sup>*</sup>
								</label>
								<input type="text" id="user-tel" class="js__input-mask" name="user-tel" placeholder="+7 ( )" required>
							</div>
							<div class="form-row">
								<label for="user-email">Почта
									<sup>*</sup>
								</label>
								<input type="text" id="user-email" name="user-email" placeholder="example@mail.com" required>
							</div>
							<div class="form-row">
								<textarea name="user-message"></textarea>
							</div>

							<button class="btn btn--yellow btn--full-width">Офрмить заказ</button>
						</form>
						<div class="uk-hidden@m">
							<div class="gray-subtitle">* - поля обязательные для заполнения</div>
							<div class="politics">
								Нажимая на кнопку Оформить,<br>
								я даю согласие на обработку
								<a href="">персональных данных</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>


<div id="buy-modal" class="modal-default modal-default--theme-blue" uk-modal>

	<div class="uk-modal-dialog">
		<div class="uk-container">
			<div class="uk-modal-header">
				<button class="uk-modal-close" type="button" uk-close></button>
			</div>
			<div class="uk-modal-body uk-text-center">
				<div class="title-h3">1С:Бухгалтерия 8 ПРОФ добавлен в корзину</div>
				<a href="">Перейти в корзину</a>
			</div>
		</div>
	</div>

</div>
